.border-profile {
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}


.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:25px;
}

label {
    padding-left: 2px;
    font-size: 20px;
    color: black;
    width: 80%;
}

input, textarea, select{
    width: 80%;
    padding: 8px;
    border-radius: 10px;
    font-size: 18px;
}


input:disabled, textarea:disabled {
    background-color: white;
    color: black;
}

textarea{
width: 90%;
border: 2px solid black;
}

select{
    border: 2px solid black;
}

a{
    width: auto;
    
}

.file-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  .file-input-label {
    padding: 10px;
    border: 1px solid #dcdcdc; 
    cursor: pointer;
    width: auto;
  }

  .error-container{
    position: relative;
    height: 25px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .summary-error-container{
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .error-span{
    position: absolute;
    bottom: 0;
  }

  .form-errors{
    display: flex;
    justify-content: center;
    margin: 40px 0px 20px 0px;
    font-size: 24px;
  }

  .success-popup {
    position: fixed; 
    top: 20px; 
    left: 47%;
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1000;
  }

  .error-popup {
    position: fixed;
    top: 20px; 
    left: 40%;
    background-color: red; 
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1000;
  }

  .add-gym-button{
    height:47px; 
    width: 140px;
    border-radius: 10px;
    color: white;
    margin-left: 3px;
  }

  .delete-gym-button{
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
    background-color: red;
    color: white;
  }

  .gym-error{
    height: 30px;
    margin-left:5%;

  }

  
  
 