.trainer-window-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black; 
    border-radius: 10px 10px 10px 10px;
    background: #D9D9D9;
}

.user-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.star-img{
    width: 40px;
    height: 40px;
}

.top-window-container{
    display: flex;
    flex-direction: row;
    height: 90px;
    width: auto;
    justify-content: space-around;
    margin-top: 10px;
    align-items: center;
}

.top-right-window-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.opinion-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.bottom-window-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.name-span{
    font-weight: bold;
}


button{
    font-size: 80%;
    font-weight: bold;
    color: white;
    cursor: pointer;
    width: 70%;
    height: 30px;
    background-color: #3244A0;
    border-radius: 10px 10px 10px 10px;
}

.bio-container{
    text-align: center;
    width: 80%;
    height: 80px;
    overflow: hidden;
}

.bio-span{
    overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
    text-overflow: ellipsis;
}
.prices-component{
    height: 80px;
}