
    <div class="top-window-container">
    <img class="user-img">
    <div class="top-right-window-container">
        <div class="opinion-container">
    <img src="../../../assets/icons/star.png" class="star-img">
    <span>{{ rate }}</span>
</div>
    <span>({{opinionNumber}} opinii)</span>
</div>
    </div>
    <div class="bottom-window-container">
        <span class="name-span">{{ name + ' ' + lastName }}</span>
        <div class="bio-container">
        <span class="bio-span">Dr. Aleksandra Nowak to ceniona trenerka życiowa i ekspertka rozwoju osobistego,
             specjalizująca się w inspirowaniu innych do osiągania swojego pełnego potencjału. Urodzona 15 marca 1975
              roku w Warszawie, Aleksandra od zawsze wykazywała zainteresowanie psychologią i rozwojem osobistym.</span>
        </div>
        <ng-container *ngIf="role=='trainersList'">
        <button routerLink="/trainerProfile/{{id}}">Szczegóły</button>
    </ng-container>
    <ng-container *ngIf="role=='dieticiansList'">
        <button routerLink="/dieticianProfile/{{id}}">Szczegóły</button>
    </ng-container>
        <span>{{ phoneNumber }}</span>
        <span>{{ city }}</span>

    </div>
