<ng-container *ngIf="mentor">
    <div class="top-window-container mb-2">
    <img src="{{mentor.imageSrc}}" class="round-picture" width="90px" height="90px">
    <div class="top-right-window-container">
        <div class="opinion-container">
    <img src="assets/icons/star.png" class="star-img">
    <span>{{ mentor.rate | number:'1.1-1'}}</span>
</div>
    <span>({{mentor.opinionNumber}} opinii)</span>
</div>
    </div>
    <div class="d-flex justify-content-center">
        <ng-container [ngSwitch]="mentor.roleName">
            <span *ngSwitchCase="'Trainer'" class="fw-bold">Trener</span>
            <span *ngSwitchCase="'Dietician'" class="fw-bold">Dietetyk</span>
            <span *ngSwitchCase="'Dietician-Trainer'" class="fw-bold">Trener i dietetyk</span>
            <span *ngSwitchDefault class="fw-bold"></span>
        </ng-container>
    </div>
    <div class="bottom-window-container">
        <span class="name-span">{{ mentor.name + ' ' + mentor.lastName }}</span>
        <div class="bio-container">
        <span class="bio-span">{{mentor.bio}}</span>
        </div>
        
        <ng-container [ngSwitch]="mentor.roleName">
            <div class="prices-component price d-flex flex-column justify-content-center" *ngSwitchCase="'Trainer'">
              <span><strong>Plan Treningowy: </strong>{{ mentor.trainingPlanPriceFrom !== null && mentor.trainingPlanPriceTo !== null ? mentor.trainingPlanPriceFrom + 'zł - ' + mentor.trainingPlanPriceTo  + 'zł' : '-' }}</span>
              <span><strong>Trening Personalny: </strong>{{ mentor.personalTrainingPriceFrom !== null && mentor.personalTrainingPriceTo !== null ? mentor.personalTrainingPriceFrom  + 'zł - ' + mentor.personalTrainingPriceTo + 'zł' : '-' }}</span>
            </div>
            <div class="prices-component price d-flex flex-column justify-content-center" *ngSwitchCase="'Dietician'">
              <span><strong>Dieta: </strong>{{ mentor.dietPriceFrom !== null && mentor.dietPriceTo !== null ? mentor.dietPriceFrom + 'zł - ' + mentor.dietPriceTo + 'zł' : '-' }}</span>
            </div>
            <div class="prices-component price d-flex flex-column justify-content-center" *ngSwitchCase="'Dietician-Trainer'">
              <span><strong>Plan Treningowy: </strong>{{ mentor.trainingPlanPriceFrom !== null && mentor.trainingPlanPriceTo !== null ? mentor.trainingPlanPriceFrom + 'zł - ' + mentor.trainingPlanPriceTo + ' zł' : '-' }}</span>
              <span><strong>Trening Personalny: </strong>{{ mentor.personalTrainingPriceFrom !== null && mentor.personalTrainingPriceTo !== null ? mentor.personalTrainingPriceFrom + 'zł - ' + mentor.personalTrainingPriceTo + ' zł' : '-' }}</span>
              <span><strong>Dieta: </strong>{{ mentor.dietPriceFrom !== null && mentor.dietPriceTo !== null ? mentor.dietPriceFrom  + 'zł - ' + mentor.dietPriceTo + 'zł' : '-' }}</span>
            </div>
          </ng-container>
          
          
    
        <ng-container *ngIf="role=='trainersList'">
            <button class="mb-4" routerLink="/trainerProfile/{{mentor.idUser}}">Szczegóły</button>
        </ng-container>
        <ng-container *ngIf="role=='dieticiansList'">
            <button class="mb-4" routerLink="/dieticianProfile/{{mentor.idUser}}">Szczegóły</button>
        </ng-container>
    </div>
</ng-container>


