<ng-container *ngIf="mentor">
    <div class="top-window-container">
    <img src="{{mentor.imageSrc}}" class="round-picture" width="80px" height="80px">
    <div class="top-right-window-container">
        <div class="opinion-container">
    <img src="assets/icons/star.png" class="star-img">
    <span>{{ mentor.rate | number:'1.1-1'}}</span>
</div>
    <span>({{mentor.opinionNumber}} opinii)</span>
</div>
    </div>
    <div class="d-flex justify-content-center">
        <ng-container [ngSwitch]="mentor.roleName">
            <span *ngSwitchCase="'Trainer'" class="fw-bold">Trener</span>
            <span *ngSwitchCase="'Dietician'" class="fw-bold">Dietetyk</span>
            <span *ngSwitchCase="'Dietician-Trainer'" class="fw-bold">Trener i dietetyk</span>
            <span *ngSwitchDefault class="fw-bold"></span>
        </ng-container>
    </div>
    <div class="bottom-window-container">
        <span class="name-span">{{ mentor.name + ' ' + mentor.lastName }}</span>
        <div class="bio-container">
        <span class="bio-span">Dr. Aleksandra Nowak to ceniona trenerka życiowa i ekspertka rozwoju osobistego,
             specjalizująca się w inspirowaniu innych do osiągania swojego pełnego potencjału. Urodzona 15 marca 1975
              roku w Warszawie, Aleksandra od zawsze wykazywała zainteresowanie psychologią i rozwojem osobistym.</span>
        </div>
        
        <ng-container [ngSwitch]="mentor.roleName">
            <div class="prices-component d-flex flex-column justify-content-center" *ngSwitchCase="'Trainer'">
            <span><strong>Plan Treningowy:</strong> {{(mentor.trainingPlanPriceFrom !== null && mentor.trainingPlanPriceTo !== null) ? mentor.trainingPlanPriceFrom + '-' + mentor.trainingPlanPriceTo : '-' }}</span>
            <span><strong>Trening Personalny:</strong> {{(mentor.personalTrainingPriceFrom !== null && mentor.personalTrainingPriceTo !== null) ? mentor.personalTrainingPriceFrom + '-' + mentor.personalTrainingPriceTo : '-' }}</span>
        </div>
        <div class="prices-component d-flex flex-column justify-content-center" *ngSwitchCase="'Dietician'">
            <span><strong>Dieta:</strong> {{(mentor.dietPriceFrom !== null && mentor.dietPriceTo !== null) ? mentor.dietPriceFrom + '-' + mentor.dietPriceTo : '-' }}</span>
        </div>
        <div class="prices-component d-flex flex-column justify-content-center" *ngSwitchCase="'Dietician-Trainer'">
            <span><strong>Plan Treningowy:</strong> {{(mentor.trainingPlanPriceFrom !== null && mentor.trainingPlanPriceTo !== null) ? mentor.trainingPlanPriceFrom + '-' + mentor.trainingPlanPriceTo : '-' }}</span>
            <span><strong>Trening Personalny:</strong> {{(mentor.personalTrainingPriceFrom !== null && mentor.personalTrainingPriceTo !== null) ? mentor.personalTrainingPriceFrom + '-' + mentor.personalTrainingPriceTo : '-' }}</span>
            <span><strong>Dieta:</strong> {{(mentor.dietPriceFrom !== null && mentor.dietPriceTo !== null) ? mentor.dietPriceFrom + '-' + mentor.dietPriceTo : '-' }}</span>
        </div>
        </ng-container>
    
        <ng-container *ngIf="role=='trainersList'">
            <button class="mb-4" routerLink="/trainerProfile/{{mentor.idUser}}">Szczegóły</button>
        </ng-container>
        <ng-container *ngIf="role=='dieticiansList'">
            <button class="mb-4" routerLink="/dieticianProfile/{{mentor.idUser}}">Szczegóły</button>
        </ng-container>
    </div>
</ng-container>


