<div class="row d-flex justify-content-center">
    <div class="container-head">
        <h3>Moje plany</h3>
    </div>
    <div class="container-body">
        <table class="table" *ngIf="trainingPlans && trainingPlans.length > 0" >
            <thead >
                <tr >
                    <th>Nazwa</th>
                    <th>Stworzony przez</th>
                    <th>Ważny do</th>
                </tr>
            </thead>
            <tr *ngFor="let trainingPlan of filteredTrainingPlans">
                <td><a [routerLink]="['details',trainingPlan.idTrainingPlan]">{{ trainingPlan.name }}{{trainingPlan.idTrainingPlan}}</a></td>
                <td><a [routerLink]="['/trainerProfile',trainingPlan.idTrainer]">{{ trainingPlan.trainerName}} {{trainingPlan.trainerLastName}}</a></td>
                <td>{{ trainingPlan.endDate }}</td>
            </tr>
        </table>
        <p *ngIf="!trainingPlans || trainingPlans.length <=0" class="no-plans-message">Nie posiadasz przypisanych planów treningowych</p>
    </div>
</div>
