<div class="trainer-window-container">
    <div class="top-window-container">
    <img src="../../../assets/icons/user.png" class="user-img">
    <div class="top-right-window-container">
        <div class="opinion-container">
    <img src="../../../assets/icons/star.png" class="star-img">
    <span>5.0</span>
</div>
    <span>(127 opinii)</span>
</div>
    </div>
    <div class="bottom-window-container">
        <span class="name-span">Jakub Palmowski</span>
        <div class="bio-container">
        <span class="bio-span">Cześć jestem Kuba i dużo trenuje. Zapraszam na treningi indywidualne</span>
        </div>
        <button>Szczegóły</button>
        <span>600 324 432</span>
        <span>Warszawa</span>

    </div>
</div>