 
.user-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.user-data-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  width: 80%;
  padding: 10px 0;
}

.user-data-label {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
  white-space: nowrap; 
}

.user-data-value {
  font-size: 20px;
  color: black;
}

.user-data-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  font-size: 18px;
  margin-left: 10px; 
  width: 30%;
  text-align: center;
}


@media (max-width: 900px) {
  .user-data-row {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  .user-data-label, .user-data-value, .user-data-select {
    width: 100%; 
    margin: 5px 0; 
  }
  
  .user-data-select {
    text-align: left;
  }
}

