<div class="row d-flex justify-content-center">
    <div class="container-head">
        <h3>Moje diety</h3>
    </div>
    <div class="container-body">
        <table class="table" *ngIf="diets && diets.length > 0" >
            <thead >
                <tr >
                    <th>Nazwa</th>
                    <th>Stworzona przez</th>
                    <th>Ważna do</th>
                </tr>
            </thead>
            <tr *ngFor="let diet of diets">
                <td><a [routerLink]="['details',diet.idDiet]">{{ diet.name }}</a></td>
                <td><a [routerLink]="['/dieticianProfile',diet.idDietician]">{{ diet.dieticianName}} {{diet.dieticianLastName}}</a></td>
                <td>{{ this.getEndDate(diet.endDate) }}</td>
            </tr>
        </table>
        <p *ngIf="!diets || diets.length <=0" class="no-plans-message">Nie posiadasz przypisanych diet</p>
    </div>
</div>
