<ng-container *ngIf="error">
<h1 class="text-center mt-5">Brak siłownii o podanym id</h1>
</ng-container>
<ng-container *ngIf="gym">
<div class="container-fluid bg-secondary my-3 h-auto rounded-3 pb-0 pb-4" style="border:2px solid black;">
    <div class="col-12 mb-2 mt-1">
        <h1 class="text-center">Szczegóły siłowni</h1>
    </div>

    <div class="col-12 group-admin-input">
            <label>Nazwa siłowni</label>
            <input type="text" value="{{gym.name}}" disabled>
    </div>
    
    <div class="col-12 group-admin-input">
            <label>Miasto</label>
            <input type="text" value="{{gym.city}}" disabled>
    </div>
    
    <div class="col-12 group-admin-input">
            <label>Ulica</label>
            <input type="text" value="{{gym.street}}" disabled>
    </div>
    
    <div class="col-12 group-admin-input">
            <label>Kod pocztowy</label>
            <input type="text" value="{{gym.postalCode}}" disabled>
    </div>
    
    <div class="col-12 d-flex justify-content-center mt-4">
        <div class="d-flex justify-content-around buttons">
            <button type="button" class="btn-primary" routerLink="/admin/gym/list/Active">Powrót</button>
            <button type="button" class="btn-confirm" routerLink="/admin/gym/edit/{{gym.idGym}}">Edytuj</button>
        </div>
    </div>
    
</div>
</ng-container>
