<div class="container bg-primary">
    
    <div class="top-menu">
    <div class="logo-container">
    <img src="../../../assets/icons/dumbbell.png" width="50" height="50" class="logo">
    <span class="text">GYMWORKER</span>
    </div>
    <app-menu-button [name]='"Strona główna"' [routePath]='"/"'></app-menu-button>
    <app-menu-button [name]='"Trenerzy"' [routePath]='"/trainersList"'></app-menu-button>
    <app-menu-button [name]='"Dietetycy"' [routePath]='"/dieticiansList"'></app-menu-button>

    <div class="my-4" style="border-bottom: 1px solid #ddd;"></div>
    
    <app-menu-button [name]='"Chat"' [imagePath]='"../../../assets/icons/chat.png"' [routePath]='"/Chat"'></app-menu-button>
    <app-menu-button [name]='"Podopieczni"' [routePath]='""'></app-menu-button>
    <app-menu-button [name]='"Moi Podopieczni"' [routePath]='""'></app-menu-button>
    <app-menu-button [name]='"Ćwiczenia"' [routePath]='"/exercises-list"'></app-menu-button>
    <app-menu-button [name]='"Posiłki"' [routePath]='"/meals-list"'></app-menu-button>
    <app-menu-button [name]='"Moje plany"' [routePath]='"/training-plans"'></app-menu-button>
</div>

    <div class="login-container text">
        <img src="../../../assets/icons/user.png" width="25" height="25">
        <span>Zaloguj się</span>
    </div>
</div>
