<div>
  <a (click)="back()"class="btn-primary" ><i class="bi bi-arrow-left"></i> Powrót</a>
<div class="container">
   
        <div class="top-container shadow">
              <div class="exercise-name">
                <span class="span-bold name-text">{{traineeExercise.exerciseName}}</span>
              </div>
          </div>
          <div class="bottom-container">
            <div class="bottom-left-container shadow">
              <span class="header-text">Sposób wykonania:</span>
              <span class="bio-text span-center">{{traineeExercise.exerciseSteps}}</span>
            </div>
            
            <div class="bottom-right-container">

                <div class="bottom-right-details-container shadow">
                    <span class="header-text">Opis ćwiczenia: <br></span>
                    <span class="bio-text span-center">{{traineeExercise.details}}</span>
                </div>

                <div class="bottom-right-info-container shadow">
                    <span class="bio-text span-center">Ilośc serii: </span>
                    <span class="bio-text span-center">{{traineeExercise.seriesNumber}} <br></span>
                    
                    <span class="bio-text span-center">Ilośc powtórzeń: </span>
                    <span class="bio-text span-center">{{traineeExercise.repetitionsNumber}} <br><br></span>

                    <span class="bio-text span-center">Komentarz trenera: </span>
                    <span class="bio-text span-center">{{traineeExercise.comments}}</span>
                </div>
            </div>
          </div>
</div>
</div>