
<div *ngIf="traineeExercise" class="container-fluid">
  <div class="row my-3">
    <a (click)="back()" class="btn-primary w-auto" ><i class="bi bi-arrow-left"></i> Powrót</a>
  </div>
  <div class="row bg-secondary rounded-div shadow">
      <div class="col-12 py-2 rounded-top-3 bg-primary">
          <h1 class="text-center text-white">{{traineeExercise.exerciseName}}</h1>
      </div>
 


    <div class="col-12 mt-2">
      <h2>Sposób wykonania</h2>
      </div>
      <div class="col-12 horizontal-line-black mb-2 ms-1" style="height: 1px; width: 99%;"></div>
      <div class="col-12 fs-5 mb-3">
        <span>{{traineeExercise.exerciseSteps}}<br></span>
        <span>Ilość serii: {{traineeExercise.seriesNumber}} <br></span>
        <span>Ilość powtórzeń: {{traineeExercise.repetitionsNumber}}</span>
      </div>


      <div class="col-12">
        <h2>Opis ćwiczenia</h2>
        </div>
        <div class="col-12 horizontal-line-black mb-2 ms-1" style="height: 1px; width: 99%;"></div>
        <div class="col-12 mb-3">
          <span class="fs-5">{{traineeExercise.details}}</span>
        </div>

        <ng-container *ngIf="traineeExercise.comments">
        <div class="col-12">
          <h2>Komentarz trenera</h2>
          </div>
          <div class="col-12 horizontal-line-black mb-2 ms-1" style="height: 1px; width: 99%;"></div>
          <div class="col-12 mb-3">
            <span class="fs-5">{{traineeExercise.comments}}</span>
          </div>
        </ng-container>

</div>
</div>

