<a routerLink="/exercises-list" [queryParams]="{id: id_training}" >< Powrót do wyboru ćwiczenia</a>
<div class="container-slim">
    <h3>Dodawanie ćwiczenia: {{exercise.name}} do planu</h3>
    <div class="row">
        <div class="container-form">
            <form #form="ngForm" (ngSubmit)="addTrainingExercise()">
                <div class="mb-3">
                    <label for="series_Number" class="form-label">Liczba serii:</label><br>
                    <input type="number" class="form-control" id="series_Number" name="series_Number" [(ngModel)]="newTrainingExerciseRequest.series_Number">
                </div>
                <div class="mb-3">
                    <label for="repetitions_number" class="form-label">Liczba powtórzeń:</label><br>
                    <input type="number" class="form-control" id="repetitions_number" name="repetitions_number" [(ngModel)]="newTrainingExerciseRequest.repetitions_number">
                </div>
                <div class="mb-3">
                    <label for="comments" class="form-label">Komentarz:</label><br>
                    <input type="text" class="form-control" id="comments" name="comments" [(ngModel)]="newTrainingExerciseRequest.comments">
                </div>
                <div class="mb-3">
                    <label for="ate" class="form-label">Data:</label><br>
                    <input type="date" class="form-control" id="date" name="ate" [(ngModel)]="newTrainingExerciseRequest.date">
                </div>

                <button type="submit" class="button-create">Dodaj</button>
            </form>
        </div>
    </div>
</div>