<div class="container">
    <app-search></app-search>
    <div class="list-container">
    <app-search-options-trainer></app-search-options-trainer>
        <div class="trainers-container">
    <app-trainer-window *ngFor="let trainer of trainers" 
    [id]="trainer.id_user"
    [biography]="trainer.bio"
    [lastName]="trainer.last_name"
    [name]="trainer.name"
    [phoneNumber]="trainer.phone_number"
    [city]="trainer.city"
    [opinionNumber]="trainer.opinion_number"
    [rate]="trainer.rate"
    >
    </app-trainer-window>
        </div>
    </div>
    </div>