
input, select{
    padding: 2px 5px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid rgb(85, 85, 85);
}
input::placeholder{
    padding-left: 10px;
}
.search-button{
    width:80%;
    cursor: pointer;
}


.w70{
    width:70%;
}

.h30p{
    height:30px;
}

.h35{
    height:35%;
}

@media (max-width: 991px) {
.size{
    width: 80%;
    margin-top: 20px;
}
}