

<div class="row py-2 mt-3 mb-2 mx-0" [ngClass]="{'shadow': role === 'trainersList','rounded-div': role === 'trainersList' ,'bg-secondary': role === 'trainersList', 'justify-content-around': role === 'trainersList'}">


    <ng-container *ngIf="role === 'trainersList'">
       
        <div class="col-lg-6 col-12">
            <span class="fs-5">Siłownia Trenera</span>
            <div class="d-lg-flex w-100 gap-3 p-2" style="border-top: 1px solid black;">
                
                <div class="d-flex flex-column align-items-center pb-1" style="width: -webkit-fill-available;">
                    <div class="ui-widget size text-center">
                    <label for="city">Miasto</label>
                    <ng-container *ngIf="gymCities.length>0">
                    <input [appAutocomplete]="gymCities" (selectedOption)="onSelectGymCity($event)" [(ngModel)]="sortOptions.gymCity"  class="w-100" id="city" />
                    </ng-container>
                    <ng-container *ngIf="gymCities.length==0">
                        <input [appAutocomplete]="gymCities" (selectedOption)="onSelectGymCity($event)" [(ngModel)]="sortOptions.gymCity" class="w-100" id="city" />
                        </ng-container>
                </div>
                </div>

                <div class="d-flex flex-column align-items-center" style="width: -webkit-fill-available;">
                    <div class="ui-widget size text-center">
                    <label for="club">Klub</label>
                    <ng-container *ngIf="gymClubsNames.length>0">
                    <input [(ngModel)]="sortOptions.gymName" (selectedOption)="onSelectGymName($event)" [appAutocomplete]="gymClubsNames" class="w-100" id="club" placeholder="np. Total Fitness"/>
                </ng-container>
                <ng-container *ngIf="gymClubsNames.length==0">
                    <input [(ngModel)]="sortOptions.gymName" (selectedOption)="onSelectGymName($event)" [appAutocomplete]="gymClubsNames" class="w-100" id="club" placeholder="np. Total Fitness"/>
                </ng-container>
                </div>
            </div>

              
                 
            </div>
            
        </div>


    
<div class="col-1 vertical-line d-none d-lg-block"></div>
<div class="d-lg-none">
<div class="horizontal-line-black w-100" style="height: 1px;"></div>
</div>


            <div class="col-lg-3 col-8 d-flex flex-column align-items-center justify-content-end mb-2 size">
                <label for="sort">Sortuj po</label>
                <select id="sort" class="text-center w-100"[(ngModel)]="sortValue" style="height: 35px;">
                    <option value="">--- Wybierz ---</option>
                    <option value="MentorOpinions_DESC">Ocena(od najlepszych)</option>
                    <option value="MentorOpinions_ASC">Ocena(od najgorszych)</option>
                    <option value="PlanPrice_DESC">Cena planu(od najdroższych)</option>
                    <option value="PlanPrice_ASC">Cena planu(od najtańszych)</option>
                    <option value="TrainingPrice_DESC">Cena treningu(od najdroższych)</option>
                    <option value="TrainingPrice_ASC">Cena treningu(od najtańszych)</option>
                    <option value="DietPrice_DESC">Cena diety(od najdroższych)</option>
                    <option value="DietPrice_ASC">Cena diety(od najtańszych)</option>

                </select>
            </div>

            <div class="col-lg-2 col-6 d-flex justify-content-center align-items-end mb-2 size">
                <button class="btn-primary px-5" (click)="onFilterData('filter')" style="height:35px;">Filtruj</button>
            </div>

        </ng-container>

        <ng-container *ngIf="role === 'dieticiansList'">
            <div class="col-12 col-lg-6 shadow rounded-div bg-secondary d-block d-sm-flex p-2 gap-5">
                <div class="d-flex flex-column align-items-center ms-sm-3 mb-3 mb-sm-0" style="width: -webkit-fill-available;">
                <label for="sort">Sortuj po</label>
                <select id="sort" class="text-center w-100" [(ngModel)]="sortValue" style="height:30px;">
                    <option value="">--- Wybierz ---</option>
                    <option value="MentorOpinions_DESC">Ocena(od najlepszych)</option>
                    <option value="MentorOpinions_ASC">Ocena(od najgorszych)</option>
                    <option value="DietPrice_DESC">Cena diety(od najdroższych)</option>
                    <option value="DietPrice_ASC">Cena diety(od najtańszych)</option>
                    <option value="PlanPrice_DESC">Cena planu(od najdroższych)</option>
                    <option value="PlanPrice_ASC">Cena planu(od najtańszych)</option>
                    <option value="TrainingPrice_DESC">Cena treningu(od najdroższych)</option>
                    <option value="TrainingPrice_ASC">Cena treningu(od najtańszych)</option>

                    
                </select>
            </div>
            <div class="d-flex align-items-end justify-content-center w-100" >
                <button class="btn-primary px-5" (click)="onFilterData('filter')">Filtruj</button>
            </div>
            </div>
        </ng-container>


</div>
<div class="row mx-3 gap-2">
    <ng-container *ngIf="searchPhrase">
    <div class="bg-info w-auto rounded-3 py-0 px-1" style="border: 1px solid black;">
        <span>{{searchPhrase}} <i class="bi bi-x" style="cursor: pointer;" (click)="onDeletePhrase()"></i></span>
    </div>
</ng-container>

<ng-container *ngIf="sortOptionsView.sort">
    <div class="bg-info w-auto rounded-3 py-0 px-1" style="border: 1px solid black;">
        <span>{{sortOptionsView.sort}} <i class="bi bi-x" style="cursor: pointer;" (click)="onFilterData('deleteSort')"></i></span>
    </div>
</ng-container>

<ng-container *ngIf="sortOptionsView.gymCity">
    <div class="bg-info w-auto rounded-3 py-0 px-1" style="border: 1px solid black;">
        <span>{{sortOptionsView.gymCity}} <i class="bi bi-x" style="cursor: pointer;" (click)="onFilterData('deleteGymCity')"></i></span>
    </div>
</ng-container>

<ng-container *ngIf="sortOptionsView.gymName">
    <div class="bg-info w-auto rounded-3 py-0 px-1" style="border: 1px solid black;">
        <span>{{sortOptionsView.gymName}} <i class="bi bi-x" style="cursor: pointer;" (click)="onFilterData('deleteGymName')"></i></span>
    </div>
</ng-container>
    
</div>


