<div class="row bg-secondary py-2 my-3 mx-0 rounded-3 sort-border justify-content-around">
    <div class="col-3 d-flex flex-column align-items-center">
<label for="city">Miasto</label>
<input type="text" id="city" name="username" class="w70">
    </div>

    <ng-container *ngIf="role === 'trainersList'">
    <div class="col-3 d-flex flex-column align-items-center">
        <label for="gym">Siłownia</label>
        <select id="gym" class="w70 h-100">
            <option value="">--- Wybierz siłownię ---</option>
            <option>Total fitness</option>
            <option>City Fit</option>
            <option>Just Gym</option>
            <option>Calypso</option>
        </select>
    </div>
</ng-container>

<div class="col-1 vertical-line"></div>
            <div class="col-3 d-flex flex-column align-items-center">
                <label for="sort">Sortuj po</label>
                <select id="sort" class="w70 h-100 text-center"[(ngModel)]="sortOptions.sort">
                    <option value="">--- Wybierz ---</option>
                    <option value="Mentor_Opinions">Ocena</option>
                </select>
            </div>

            <div class="col-2 d-flex align-items-end justify-content-center">
                <button class="btn btn-primary search-button" (click)="onFilterData('filter')">Filtruj</button>
            </div>

</div>
<div class="row mx-3 gap-2">
    <ng-container *ngIf="searchPhrase">
    <div class="bg-info w-auto rounded-3 py-0 px-1" style="border: 1px solid black;">
        <span>{{searchPhrase}} <i class="bi bi-x" style="cursor: pointer;" (click)="onDeletePhrase()"></i></span>
    </div>
</ng-container>

<ng-container *ngIf="sortOptionsView.sort">
    <div class="bg-info w-auto rounded-3 py-0 px-1" style="border: 1px solid black;">
        <span>{{sortOptionsView.sort}} <i class="bi bi-x" style="cursor: pointer;" (click)="onFilterData('deleteSort')"></i></span>
    </div>
</ng-container>
    
</div>