

<div class="row py-2 mt-3 mb-2 mx-0 rounded-3 sort-border" [ngClass]="{'bg-secondary': role === 'trainersList', 'justify-content-around': role === 'trainersList'}">


    <ng-container *ngIf="role === 'trainersList'">
       
        <div class="col-6">
            <span class="fs-5">Siłownia Trenera</span>
            <div class="d-flex w-100 gap-3 p-2" style="border-top: 1px solid black;">
                
                <div class="d-flex flex-column align-items-center pb-1" style="width: -webkit-fill-available;">
                    <div class="ui-widget">
                    <label for="city">Miasto</label>
                    <ng-container *ngIf="gymCities.length>0">
                    <input [appAutocomplete]="gymCities" (selectedOption)="onSelectGymCity($event)" [(ngModel)]="sortOptions.gymCity"  class="w-100" id="city" />
                    </ng-container>
                    <ng-container *ngIf="gymCities.length==0">
                        <input [appAutocomplete]="gymCities" (selectedOption)="onSelectGymCity($event)" [(ngModel)]="sortOptions.gymCity" class="w-100" id="city" />
                        </ng-container>
                </div>
                </div>

                <div class="d-flex flex-column align-items-center" style="width: -webkit-fill-available;">
                    <div class="ui-widget">
                    <label for="club">Klub</label>
                    <ng-container *ngIf="gymClubsNames.length>0">
                    <input [(ngModel)]="sortOptions.gymName" (selectedOption)="onSelectGymName($event)" [appAutocomplete]="gymClubsNames" class="w-100" id="club" placeholder="np. Total Fitness"/>
                </ng-container>
                <ng-container *ngIf="gymClubsNames.length==0">
                    <input [(ngModel)]="sortOptions.gymName" (selectedOption)="onSelectGymName($event)" [appAutocomplete]="gymClubsNames" class="w-100" id="club" placeholder="np. Total Fitness"/>
                </ng-container>
                </div>
            </div>

              
                 
            </div>
            
        </div>


    
<div class="col-1 vertical-line"></div>


            <div class="col-3 d-flex flex-column align-items-center justify-content-end mb-2">
                <label for="sort">Sortuj po</label>
                <select id="sort" class="w70 text-center"[(ngModel)]="sortOptions.sort" style="height:35px">
                    <option value="">--- Wybierz ---</option>
                    <option value="Mentor_Opinions">Ocena</option>
                </select>
            </div>

            <div class="col-2 d-flex justify-content-center align-items-end mb-2">
                <button class="btn btn-primary search-button" (click)="onFilterData('filter')" >Filtruj</button>
            </div>

        </ng-container>

        <ng-container *ngIf="role === 'dieticiansList'">
            <div class="col-6 bg-secondary rounded-3 d-flex p-2">
                <div class="d-flex flex-column align-items-center" style="width: -webkit-fill-available;">
                <label for="sort">Sortuj po</label>
                <select id="sort" class="text-center" [(ngModel)]="sortOptions.sort" style="width: 70%; height:30px;">
                    <option value="">--- Wybierz ---</option>
                    <option value="Mentor_Opinions">Ocena</option>
                </select>
            </div>
            <div class="d-flex align-items-end justify-content-center" style="width: -webkit-fill-available;">
                <button class="btn btn-primary w-50" (click)="onFilterData('filter')" >Filtruj</button>
            </div>
            </div>
        </ng-container>


</div>
<div class="row mx-3 gap-2">
    <ng-container *ngIf="searchPhrase">
    <div class="bg-info w-auto rounded-3 py-0 px-1" style="border: 1px solid black;">
        <span>{{searchPhrase}} <i class="bi bi-x" style="cursor: pointer;" (click)="onDeletePhrase()"></i></span>
    </div>
</ng-container>

<ng-container *ngIf="sortOptionsView.sort">
    <div class="bg-info w-auto rounded-3 py-0 px-1" style="border: 1px solid black;">
        <span>{{sortOptionsView.sort}} <i class="bi bi-x" style="cursor: pointer;" (click)="onFilterData('deleteSort')"></i></span>
    </div>
</ng-container>

<ng-container *ngIf="sortOptionsView.gymCity">
    <div class="bg-info w-auto rounded-3 py-0 px-1" style="border: 1px solid black;">
        <span>{{sortOptionsView.gymCity}} <i class="bi bi-x" style="cursor: pointer;" (click)="onFilterData('deleteGymCity')"></i></span>
    </div>
</ng-container>

<ng-container *ngIf="sortOptionsView.gymName">
    <div class="bg-info w-auto rounded-3 py-0 px-1" style="border: 1px solid black;">
        <span>{{sortOptionsView.gymName}} <i class="bi bi-x" style="cursor: pointer;" (click)="onFilterData('deleteGymName')"></i></span>
    </div>
</ng-container>
    
</div>


