<div class="container-fluid mt-3">
    <div class="row bg-secondary rounded-div shadow">
        <div class="col-12 bg-primary rounded-top-3 py-2">
            <h1 class="text-center text-white">Moje plany</h1>
        </div>
    </div>
    <div class="row bg-secondary d-flex justify-content-center search">
        <div class="col-12 col-md-6">
    <input type="text" class="form-control mb-3 fs-5 w-100 mt-3" placeholder="Szukaj planu..." [(ngModel)]="searchTerm" (input)="filterResults()">
</div>
</div>
<div class="row bg-secondary shadow head fs-5 py-2 ps-2">
    <span class="col-12 col-lg-4 fw-bold ps-lg-3 d-flex justify-content-center justify-content-lg-start">Nazwa</span>
    <span class="col-12 col-lg-4 fw-bold d-flex justify-content-center justify-content-lg-start">Nazwa robocza</span>
    <span class="col-12 col-lg-4 fw-bold d-flex justify-content-center justify-content-lg-start">Data zakończenia</span>
</div>

<div class="row bg-secondary rounded-bottom-3 shadow details fs-5">
    <div *ngFor="let plan of filteredTrainingPlans" class="d-block d-lg-flex" [routerLink]="['edit',plan.idTrainingPlan]" style="cursor: pointer;">
        <span class="col-lg-4 mb-lg-3 ps-2 d-flex align-items-center first">{{plan.name}}</span>
        <span class="col-lg-4 mb-lg-3 d-flex align-items-center ps-lg-2">{{plan.customName}}</span>
        <span class="col-lg-4 mb-lg-3 d-flex align-items-center ps-lg-4 mb-3 last">{{ getEndDate(plan.endDate) }}</span>
    </div>
    <p *ngIf="!filteredTrainingPlans || filteredTrainingPlans.length <=0" class="text-center">Brak planów treningowych</p>
    <div class="col-12 d-flex justify-content-center mt-1">
        <a routerLink="/training-plans/add" class="btn-confirm" style="width: fit-content;">Stwórz nowy plan</a>
    </div>
</div>
</div>

