<div class="row d-flex justify-content-center ">
    <div class="container-head shadow">
        <h3>Moje plany</h3>
        <button class="filter-button" type="button" (click)="filterResults(filter.value)">
            <img src="../../../../assets/icons/search.png" class="search-icon">
        </button>
        
        <input class="filter-input" type="text" placeholder="Wyszukaj plan" #filter>
    </div>
    <div class="container-body shadow">
        <table class="table" *ngIf="trainingPlans && trainingPlans.length > 0" >
            <thead >
                <tr >
                    <th>Nazwa</th>
                    <th>Nazwa robocza</th>
                    <th>Długość planu(todo: ważny do)</th>
                </tr>
            </thead>
            <tr *ngFor="let trainingPlan of filteredTrainingPlans">
                <td><a [routerLink]="['edit',trainingPlan.idTrainingPlan]">{{ trainingPlan.name }}</a></td>
                <td><a [routerLink]="['edit',trainingPlan.idTrainingPlan]">{{ trainingPlan.customName }}</a></td>
                <td><a [routerLink]="['edit',trainingPlan.idTrainingPlan]">{{ trainingPlan.numberOfWeeks }}tyg.</a></td>
            </tr>
        </table>
        <p *ngIf="!trainingPlans || trainingPlans.length <=0" class="no-plans-message">Nie posiadasz planów treningowych</p>
        <div class="test">
            <a routerLink="/training-plans/add" class="new-plan-link">
                <span class="new-plan-span">+<br>Dodaj nowy plan</span> </a>
        </div>
    </div>
</div>
