<div *ngIf="exercise" class="container-fluid bg-secondary my-3 h-auto rounded-3 pb-0 pb-4" style="border:2px solid black;">
    <div *ngIf="successFlag=='success'" class="success-popup">
        Edycja ćwiczenia przebiegła pomyślnie!
      </div>
      <div *ngIf="successFlag=='error'" class="error-popup">
        Wystapił błąd podczas edycji ćwiczenia. Proszę spróbować ponownie.
      </div>


  <div class="row">
      <form #profileForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="col-12 mb-2 mt-1">
          <h1 class="text-center">Edycja ćwiczenia</h1>
      </div>

      <div class="col-12 group-admin-input">
            
              <label for="name">Nazwa *</label>
              <input type="text" id="name" name="name" [(ngModel)]="exercise.name" #name="ngModel" 
                  required minlength="3" maxlength="50">
              <div class="error-container">
                  <span *ngIf="name.errors?.['required'] && name.touched" class="validation-error">
                      Pole jest wymagane
                  </span>
                  <span *ngIf="name.errors?.['minlength'] && name.touched" class="validation-error">
                      Pole musi zawierać min 3 znaki
                  </span>
                  <span *ngIf="name.errors?.['maxlength'] && name.touched" class="validation-error">
                      Pole musi zawierać max 50 znaków
                  </span>
                  <span *ngIf="fieldErrors['Name']" class="validation-error">
                    {{ fieldErrors['Name'][0] }}
                </span>
              </div>
          </div>
      
      <div class="col-12 group-admin-input">
              <label for="description">Opis *</label>
              <textarea rows="5" id="description" name="description" [(ngModel)]="exercise.details"
                  required minlength="3" maxlength="200" #description="ngModel"></textarea>
              <div class="error-container">
                  <span *ngIf="description.errors?.['required'] && description.touched" class="validation-error">
                      Pole jest wymagane
                  </span>
                  <span *ngIf="description.errors?.['minlength'] && description.touched" class="validation-error">
                      Pole musi zawierać min 3 znaki
                  </span>
                  <span *ngIf="description.errors?.['maxlength'] && description.touched" class="validation-error">
                      Pole musi zawierać max 200 znaków
                  </span>
                  <span *ngIf="fieldErrors['Details']" class="validation-error">
                    {{ fieldErrors['Details'][0] }}
                </span>
              </div>
          </div>
      
      
      <div class="col-12 group-admin-input">
              <label for="steps">Sposób wykonania *</label>
              <textarea rows="7" id="steps" name="steps" [(ngModel)]="exercise.exerciseSteps"
                  required minlength="3" maxlength="300" #steps="ngModel"></textarea>
              <div class="error-container">
                  <span *ngIf="steps.errors?.['required'] && steps.touched" class="validation-error">
                      Pole jest wymagane
                  </span>
                  <span *ngIf="steps.errors?.['minlength'] && steps.touched" class="validation-error">
                      Pole musi zawierać min 3 znaki
                  </span>
                  <span *ngIf="steps.errors?.['maxlength'] && steps.touched" class="validation-error">
                      Pole musi zawierać max 300 znaków
                  </span>
                  <span *ngIf="fieldErrors['ExerciseSteps']" class="validation-error">
                    {{ fieldErrors['ExerciseSteps'][0] }}
                </span>
              </div>
          </div>
      
      
      

      <div class="col-12 d-flex justify-content-center mt-4">
          <div class="d-flex justify-content-around buttons">
              <button type="button" class="btn-primary" routerLink="/admin/exercise/list">Powrót</button>
              <button type="submit" class="btn-confirm">Edytuj</button>
          </div>
      </div>
     

  </form>

</div>
</div>