
label {
    padding-left: 2px;
    font-size: 20px;
    color: black;
    width: 70%;
}

textarea{
    width: 70%;
    padding: 8px;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid black;
}

.file-container{
    width: 70%;
    margin-left: 15%;
}

.image-label{
  width:auto;
  color: white;
  font-size:18px;
  cursor: pointer;
  text-align: center;
}

.file-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    width: 10px;
  }
  .name-container{
    height: 20px;
  }

@media (max-width: 768px){
    label {
        width: 90%;
    }
    textarea{
        width: 90%;
    }
    .file-container{
      width: 90%;
      margin-left: 5%;
  }
}
