<div *ngIf="successFlag=='success'" class="success-popup">
    Profil został pomyślnie zaktualizowany!
  </div>
  <div *ngIf="successFlag=='error'" class="error-popup">
    Wystapił błąd. Proszę spróbować ponownie.
  </div>

<ng-container *ngIf="user">
    

    <form #profileForm="ngForm" class="container-fluid" (ngSubmit)="onSubmit()">
        <div class="row mt-3">
            <a class="btn-primary w-auto" routerLink="/myProfile"><i class="bi bi-arrow-left"></i> Powrót do profilu</a>
            </div>
        <div class="row d-flex justify-content-center mt-3">
            <div class="col-12 bg-primary rounded-top-5">
                <h1 class="fw-bold text-white text-center">Edycja profilu</h1>
            </div>
        </div>

    
    
    
        
        <div class="row p-2 bg-secondary shadow rounded-div rounded-bottom-3 rounded-top-0" >
            <div class="col-12 d-flex justify-content-center" style="height: 260px;">
            <img *ngIf="newImageUrl" [src]="newImageUrl" width="250px" height="250px" class="round-picture">
            <img *ngIf="imageUrl&&newImageUrl==null" src="{{imageUrl}}" width="250px" height="250px" class="round-picture">
        </div>
        <div *ngIf="imageError" class="error-container">
            <span class="validation-error">Plik musi być zdjęciem</span>
        </div>

        <div class="col-12 d-flex justify-content-center flex-column mb-3">
            <div class="d-flex justify-content-center mb-2">
                <input type="file" id="file" class="file-input" (change)="onFileSelected($event)">
                <div class="btn-primary">
                <label for="file" class="image-label">Wybierz nowe zdjęcie profilowe</label>
            </div>
            </div>
            <div class="d-flex justify-content-center">
                <button  type="button" class="btn-primary" (click)="deleteImage()">Usuń zdjęcie profilowe</button>
            </div>
        </div>

            <div class="col-12" [ngSwitch]="role">
                <h2 class="text-center" *ngSwitchCase="'Trainer'">Trener</h2>
                <h2 class="text-center" *ngSwitchCase="'Dietician'">Dietetyk</h2>
                <h2 class="text-center" *ngSwitchCase="'Dietician-Trainer'">Dietetyk i trener</h2>
                <h2 class="text-center" *ngSwitchCase="'Pupil'">Podopieczny</h2>
            </div>
    
            <div class="col-12 mt-3">
            <h2>Podstawowe informacje</h2>
            </div>
            <div class="col-12 horizontal-line-black mb-3" style="height: 4px;"></div>
    
            <div class="col-12 col-lg-6 group">
                <label>Imię *</label>
                <input type="text" [(ngModel)]="user.name" name="name" required 
                       maxlength="50" #name="ngModel">
                <div class="error-container">
                    <span *ngIf="name.errors?.['required']" class="validation-error">
                        Imię jest wymagane.
                    </span>
                    <span *ngIf="name.errors?.['maxlength']" class="validation-error">
                        Imię nie może przekraczać 50 znaków.
                    </span>
                    <span *ngIf="fieldErrors['Name']" class="validation-error">
                        {{ fieldErrors['Name'][0] }}
                    </span>
                </div>
            </div>
            
            
    
            <div class="col-12 col-lg-6 group">
                <label>Nazwisko *</label>
                <input type="text" [(ngModel)]="user.lastName" name="lastName" required 
                       maxlength="50" #lastName="ngModel">
                <div class="error-container">
                    <span *ngIf="lastName.errors?.['required']" class="validation-error">
                        Nazwisko jest wymagane.
                    </span>
                    <span *ngIf="lastName.errors?.['maxlength']" class="validation-error">
                        Nazwisko nie może przekraczać 50 znaków.
                    </span>
                    <span *ngIf="fieldErrors['LastName']" class="validation-error">
                        {{ fieldErrors['LastName'][0] }}
                    </span>
                </div>
            </div>
            
    
            <div class="col-12 col-lg-6 group">
                <label>Email *</label>
                <input type="email" [(ngModel)]="user.email" name="email" required
                       pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" #email="ngModel">
                <div class="error-container">
                    <span *ngIf="email.errors?.['required']" class="validation-error">
                        Email jest wymagany.
                    </span>
                    <span *ngIf="email.errors?.['pattern']" class="validation-error">
                        Proszę podać poprawny adres email.
                    </span>
                    <span *ngIf="fieldErrors['Email']" class="validation-error">
                        {{ fieldErrors['Email'][0] }}
                    </span>
                </div>
            </div>
            
            
            
            
    
            <div class="col-12 col-lg-6 group" *ngIf="role=='Dietician'||role=='Trainer'|| role=='Dietician-Trainer'">
                <label>Numer Telefonu</label>
                <input type="tel" [(ngModel)]="user.phoneNumber" name="phoneNumber" #phoneNumber="ngModel"
                       pattern="^\+48\s?(\d{3}[ ]?){3}$|^(\d{3}[ ]?){3}$">
                       <div class="error-container">
                <span *ngIf="phoneNumber.errors?.['pattern']" class="validation-error">
                    Proszę podać poprawny numer telefonu.
                </span>
                <span *ngIf="fieldErrors['PhoneNumber']" class="validation-error">
                    {{ fieldErrors['PhoneNumber'][0] }}
                </span>
        </div>
            </div>
            
            
    
    
            <ng-container *ngIf="role=='Pupil'">
            <div class="col-12 mt-3">
                <h2>Informacje fizyczne</h2>
                </div>
                <div class="col-12 horizontal-line-black mb-3" style="height: 3px;"></div>
    

                <div class="col-12 col-lg-6 group">
                    <label>Waga(kg)</label>
                    <input type="number" [(ngModel)]="user.weight" name="weight" 
                           min="0.01" max="300.00" #weight="ngModel">
                    <div class="error-container">
                        <span *ngIf="weight.errors?.['min']" class="validation-error">
                            Waga musi być większa lub równa 0.01.
                        </span>
                        <span *ngIf="weight.errors?.['max']" class="validation-error">
                            Waga nie może przekraczać 300.00.
                        </span>
                        <span *ngIf="fieldErrors['Weight']" class="validation-error">
                            {{ fieldErrors['Weight'][0] }}
                        </span>
                    </div>
                </div>
                
        
                <div class="col-12 col-lg-6 group">
                    <label>Wzrost(cm)</label>
                    <input type="number" [(ngModel)]="user.height" name="height" 
                           min="0.01" max="250.00" #height="ngModel">
                    <div class="error-container">
                        <span *ngIf="height.errors?.['min']" class="validation-error">
                            Wzrost musi być większy lub równy 0.01.
                        </span>
                        <span *ngIf="height.errors?.['max']" class="validation-error">
                            Wzrost nie może przekraczać 250.00.
                        </span>
                        <span *ngIf="fieldErrors['Height']" class="validation-error">
                            {{ fieldErrors['Height'][0] }}
                        </span>
                    </div>
                </div>
                
        
                <div class="col-12 col-lg-6 group">
                    <label>Data urodzenia</label>
                    <input type="date" [(ngModel)]="formattedDate" name="dateOfBirth" #dateOfBirth="ngModel" (ngModelChange)="onDateChange()">
                    <div class="error-container">
                        <span *ngIf="dateOfBirth.invalid && dateOfBirth.errors?.['max']" class="validation-error">
                            Data urodzenia nie może być z przyszłości.
                        </span>
                        <span *ngIf="fieldErrors['DateOfBirth']" class="validation-error">
                            {{ fieldErrors['DateOfBirth'][0] }}
                        </span>
                    </div>
                </div>
                
        
                <div class="col-12 col-lg-6 group">
                    <label>Płeć</label>
                    <select [(ngModel)]="user.sex" name="sex" #sex="ngModel">
                        <option value="">Wybierz płeć</option>
                        <option value="Mężczyzna">Mężczyzna</option>
                        <option value="Kobieta">Kobieta</option>
                    </select>
                    <div class="error-container">
                        <span *ngIf="fieldErrors['Sex']" class="validation-error">
                            {{ fieldErrors['Sex'][0] }}
                        </span>
                    </div>
                </div>
                
                
            </ng-container>
                
            <ng-container *ngIf="role=='Dietician' || role=='Trainer' || role=='Dietician-Trainer'">
                <div class="col-12 mt-3">
                    <h2>Cennik</h2>
                    </div>
                <div class="col-12 horizontal-line-black mb-3" style="height: 3px;"></div>
            </ng-container>

            <ng-container *ngIf="role=='Trainer' || role=='Dietician-Trainer'">
                <div class="col-12 col-lg-6 group mb-0">
                    <label>Minimalny koszt planu treningowego (zł)</label>
                    <input type="number" [(ngModel)]="user.trainingPlanPriceFrom" 
                           #trainingPlanPriceFrom="ngModel" name="trainingPlanPriceFrom"
                           min="0" max="99999.99" (change)="validatePriceRange()">
                    <div class="error-container">
                        <span *ngIf="trainingPlanPriceFrom.errors?.['min']" class="validation-error">
                            Cena musi być większa lub równa 0.00 zł.
                        </span>
                        <span *ngIf="trainingPlanPriceFrom.errors?.['max']" class="validation-error">
                            Cena nie może przekraczać 99999.99 zł.
                        </span>
                        <span *ngIf="fieldErrors['TrainingPlanPriceFrom']" class="validation-error">
                            {{ fieldErrors['TrainingPlanPriceFrom'][0] }}
                        </span>
                    </div>
                </div>
                
                
                <div class="col-12 col-lg-6 group mb-0">
                    <label>Maksymalny koszt planu treningowego (zł)</label>
                    <input type="number" [(ngModel)]="user.trainingPlanPriceTo" 
                           #trainingPlanPriceTo="ngModel" name="trainingPlanPriceTo"
                           min="0" max="99999.99" (change)="validatePriceRange()">
                    <div class="error-container">
                        <span *ngIf="trainingPlanPriceTo.errors?.['min']" class="validation-error">
                            Cena musi być większa lub równa 0.00 zł.
                        </span>
                        <span *ngIf="trainingPlanPriceTo.errors?.['max']" class="validation-error">
                            Cena nie może przekraczać 99999.99 zł.
                        </span>
                        <span *ngIf="fieldErrors['TrainingPlanPriceTo']" class="validation-error">
                            {{ fieldErrors['TrainingPlanPriceTo'][0] }}
                        </span>
                    </div>
                            
                </div>

                <div class="error-container col-12">
                    <span *ngIf="trainingPlanPriceTo.errors?.['bothOrNone']" class="validation-error">
                        Obie ceny dla planu treningowego muszą być podane lub obie muszą być puste
                    </span>
                    <span *ngIf="trainingPlanPriceTo.errors?.['pricesConsistent']" class="validation-error">
                        Cena maksymalna dla planu treningowego musi być większa lub równa cenie minimalnej
                    </span>
                </div>
                

                
                
        
        
            <div class="col-12 col-lg-6 group mb-0">
                <label>Minimalny koszt treningu personalnego(zł)</label>
                <input type="number" [(ngModel)]="user.personalTrainingPriceFrom" name="personalTrainingPriceFrom"  #personalTrainingPriceFrom="ngModel"
                min="0" max="99999.99" (change)="validatePriceRange()">
                <div class="error-container">
                    <span *ngIf="personalTrainingPriceFrom.errors?.['min']" class="validation-error">
                        Cena musi być większa lub równa 0.00 zł.
                    </span>
                    <span *ngIf="personalTrainingPriceFrom.errors?.['max']" class="validation-error">
                        Cena nie może przekraczać 99999.99 zł.
                    </span>
                    <span *ngIf="fieldErrors['PersonalTrainingPriceFrom']" class="validation-error">
                        {{ fieldErrors['PersonalTrainingPriceFrom'][0] }}
                    </span>
            </div>
            </div>

        
            <div class="col-12 col-lg-6 group mb-0">
                <label>Maksymalny koszt treningu personalnego(zł)</label>
                <input type="number" [(ngModel)]="user.personalTrainingPriceTo" name="personalTrainingPriceTo" #personalTrainingPriceTo="ngModel"
                min="0" max="99999.99" (change)="validatePriceRange()">
                <div class="error-container">
                    <span *ngIf="personalTrainingPriceTo.errors?.['min']" class="validation-error">
                        Cena musi być większa lub równa 0.00 zł.
                    </span>
                    <span *ngIf="personalTrainingPriceTo.errors?.['max']" class="validation-error">
                        Cena nie może przekraczać 99999.99 zł.
                    </span>
                    <span *ngIf="fieldErrors['PersonalTrainingPriceTo']" class="validation-error">
                        {{ fieldErrors['PersonalTrainingPriceTo'][0] }}
                    </span>
            </div>
            </div>


            <div class="error-container col-12">
                <span *ngIf="personalTrainingPriceTo.errors?.['bothOrNone']" class="validation-error">
                    Obie ceny dla treningu personalnego muszą być podane lub obie muszą być puste
                </span>
                <span *ngIf="personalTrainingPriceTo.errors?.['pricesConsistent']" class="validation-error">
                    Cena maksymalna dla treningu personalnego musi być większa lub równa cenie minimalnej
                </span>
            </div>

            
</ng-container>

<ng-container *ngIf="role=='Dietician' || role=='Dietician-Trainer'">

    <div class="col-12 col-lg-6 group mb-0">
        <label>Minimalny koszt diety(zł)</label>
        <input type="number" [(ngModel)]="user.dietPriceFrom" 
               #dietPriceFrom="ngModel" name="dietPriceFrom"
               min="0" max="99999.99" (change)="validatePriceRange()">
        <div class="error-container">
            <span *ngIf="dietPriceFrom.errors?.['min']" class="validation-error">
                Cena musi być większa lub równa 0.00 zł.
            </span>
            <span *ngIf="dietPriceFrom.errors?.['max']" class="validation-error">
                Cena nie może przekraczać 99999.99 zł.
            </span>
            <span *ngIf="fieldErrors['DietPriceFrom']" class="validation-error">
                {{ fieldErrors['DietPriceFrom'][0] }}
            </span>
        </div>
    </div>
    
    
    <div class="col-12 col-lg-6 group mb-0">
        <label>Maksymalny koszt diety(zł)</label>
        <input type="number" [(ngModel)]="user.dietPriceTo" 
               #dietPriceTo="ngModel" name="dietPriceTo"
               min="0" max="99999.99" (change)="validatePriceRange()">
        <div class="error-container">
            <span *ngIf="dietPriceTo.errors?.['min']" class="validation-error">
                Cena musi być większa lub równa 0.00 zł.
            </span>
            <span *ngIf="dietPriceTo.errors?.['max']" class="validation-error">
                Cena nie może przekraczać 99999.99 zł.
            </span>
            <span *ngIf="fieldErrors['DietPriceTo']" class="validation-error">
                {{ fieldErrors['DietPriceTo'][0] }}
            </span>
        </div>
                
    </div>

    <div class="error-container col-12">
        <span *ngIf="dietPriceTo.errors?.['bothOrNone']" class="validation-error">
            Obie ceny dla diety muszą być podane lub obie muszą być puste
        </span>
        <span *ngIf="dietPriceTo.errors?.['pricesConsistent']" class="validation-error">
            Cena maksymalna dla diety musi być większa lub równa cenie minimalnej
        </span>
    </div>
    </ng-container>

    <ng-container *ngIf="role=='Dietician' || role=='Trainer' || role=='Dietician-Trainer'">
        <div class="error-container col-12 mt-3" *ngIf="fieldErrors['']">
            <span class="validation-error">
                {{ fieldErrors[''][0] }}
            </span>
        </div>
    </ng-container>


        <ng-container *ngIf="role=='Trainer' || role=='Dietician-Trainer'">
            <div class="col-12 mt-3">
                <h2>Moje siłownie</h2>
                </div>
            <div class="col-12 horizontal-line-black mb-3" style="height: 3px;"></div>

            <div class="col-12 d-flex flex-column">
                <div class="d-flex" style="margin-left: 5%;">
                <input type="text" style="width:70%;" #autocompleteGyms [appAutocomplete]="allActiveGyms" (selectedOption)="onSelect($event)">
                <button class="btn-primary ms-2" type="button" (click)="addGymToUser()">Dodaj siłownię</button>
            </div>
                <div class="gym-error"><span class="validation-error" *ngIf="inputGymsError">{{inputGymsError}}</span></div>
            </div>

            <ng-container *ngIf="user.trainerGyms && user.trainerGyms.length > 0; else noGymsTemplate">
                <table class="table table-admin table-striped" style="max-width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col">Miasto</th>
                            <th scope="col">Nazwa siłowni</th>
                            <th scope="col">Akcje</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let gym of user.trainerGyms">
                            <td>{{gym.cityName}}</td>
                            <td>{{gym.name}}</td>
                            <td><button class="btn-alert" type="button" (click)="removeGymFromUser(gym)">Usuń</button></td>
                    </tbody>
                </table>
              </ng-container>
        
              <ng-template #noGymsTemplate>
                <div class="col-12">
                  <span class="fs-4" style="margin-left: 5%;">Nie dodałeś jeszcze żadnych siłownii do swojego profilu</span>
                </div>
              </ng-template>

        </ng-container>
    








                <div class="col-12 mt-3">
                    <h2>Informacje dodatkowe</h2>
                    </div>
                    <div class="col-12 horizontal-line-black mb-3" style="height: 3px;"></div>
    
                    <div class="col-12 d-flex flex-column align-items-center">
                        <label style="width: 90%;">O mnie</label>
                        <textarea [(ngModel)]="user.bio" rows="4" name="bio" maxlength="1500" #bio="ngModel">
                            {{user.bio}}
                        </textarea>
                        <div class="error-container">
                            <span *ngIf="bio.invalid && bio.errors?.['maxlength']" class="validation-error">
                                Opis nie może przekraczać 1500 znaków.
                            </span>
                            <span *ngIf="fieldErrors['Bio']" class="validation-error">
                                {{ fieldErrors['Bio'][0] }}
                            </span>
                        </div>
                    </div>
                    

                <div class="summary-error-container">
                <span *ngIf="profileForm.invalid" class="validation-error form-errors">
                    Formularz zawiera błędy. Proszę sprawdzić i poprawić.
                </span>
            </div>

                <div class="col-12 d-flex justify-content-center">
                    <button type="submit" class="btn-primary">Zapisz zmiany</button>
                </div>
    
    
        </div>
    
    </form>
    
    </ng-container>