<div class="container-fluid" *ngIf="mentor">


    <div class="row mt-3 mb-3">
      <div class="col">
      <ng-container *ngIf="role=='trainerProfile'">
        <a class="p-1 rounded-3 text-decoration-none bg-btn-orange text-black" (click)="goToTrainersList()" style="border: 1px solid black; cursor: pointer;"><i class="bi bi-arrow-left"></i> Powrót do listy trenerów</a>
      </ng-container>
      <ng-container *ngIf="role=='dieticianProfile'">
        <a class="p-1 rounded-3 text-decoration-none bg-btn-orange text-black" (click)="goToDieticiansList()" style="border: 1px solid black; cursor: pointer;"><i class="bi bi-arrow-left"></i> Powrót do listy dietetyków</a>
      </ng-container>
    </div>
    </div>

    <div *ngIf="errorFlag=='error'" class="error-popup" style="z-index: 2000;">
      Wystapił błąd. Proszę spróbować ponownie.
    </div>
    <div *ngIf="errorFlag=='successUpdate' || errorFlag=='successCreate' || errorFlag=='successDelete'" class="success-popup">
      <ng-container *ngIf="errorFlag=='successCreate'">Dodano opinie</ng-container>
      <ng-container *ngIf="errorFlag=='successDelete'">Usunięto opinie</ng-container>
      <ng-container *ngIf="errorFlag=='successUpdate'">Edytowano opinie</ng-container>
    </div>


      <div class="row bg-secondary d-flex align-items-center py-4 px-2 rounded-3 mb-3" style="border: 2px solid black;">
          <div class="col-lg-2 col-md-6 col-12 d-flex justify-content-center align-items-center">
            <img width="140px" height="140px" src="{{imageUrl}}" class="round-picture">
          </div>
          
            <div class="col-lg-4 col-md-6 col-12 d-flex flex-column align-items-center align-items-lg-start">
            <span class="fs-2">{{ mentor.name + ' ' + mentor.lastName}}</span>

            <ng-container [ngSwitch]="mentor.role">
              <span class="fs-2" *ngSwitchCase="'Trainer'">Trener</span>
              <span class="fs-2" *ngSwitchCase="'Dietician'">Dietetyk</span>
              <span class="fs-2" *ngSwitchCase="'Dietician-Trainer'">Trener i dietetyk</span>
            </ng-container>

            <ng-container *ngIf="isLogged && roleUser=='Pupil'">
            <span class="fs-5 ms-1" *ngIf="mentor.cooperation" style="color: green;">Współpracujesz z tym mentorem<i class="bi bi-people-fill ms-1"></i></span>
            <button *ngIf="mentor.cooperation==null" class="btn-custom btn-orange mt-3 m-lg-1" style="width: fit-content;" (click)="sendInvitation()">Zaproś do współpracy</button>
            <button *ngIf="mentor.cooperation==false" class="btn-custom btn-orange mt-3 m-lg-1" style="width: fit-content;" (click)="cancelInvitation()">Anuluj zaproszenie</button>
            <button data-bs-toggle="modal" data-bs-target="#createOpinionModal" *ngIf="mentor.cooperation && !mentor.isOpinionExists" class="btn-custom btn-orange mt-3 m-lg-1">Dodaj opinie</button>
            <button data-bs-toggle="modal" data-bs-target="#updateOpinionModal" *ngIf="mentor.cooperation && mentor.isOpinionExists" class="btn-custom btn-orange mt-3 m-lg-1" >Edytuj opinie</button>
          </ng-container>

            <button *ngIf="!isLogged" class="btn-custom btn-orange mt-3 m-lg-1" style="width: fit-content;" routerLink="/login">Zaproś do współpracy</button>
          </div>


          <div class="modal fade" #createOpinionModal id="createOpinionModal" tabindex="-1" aria-labelledby="opinionModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header bg-button">
                  <h5 class="modal-title w-100 text-center text-white" id="opinionModalLabel">Dodaj opinie</h5>
                  <span class="text-white" style="cursor: pointer;" data-bs-dismiss="modal" aria-label="Close">X</span>
                </div>
                <div class="modal-body">
                  <form #profileForm="ngForm" (ngSubmit)="onCreateSubmit()">

                    <div class="group-admin-input">
                      <label for="content" style="width: 90%;">Treść opinii</label>
                      <textarea style="width: 90%;"  id="content" rows="3" name="content" required 
                       maxlength="1000" [(ngModel)]="newOpinion.content" #content="ngModel"></textarea>
                       <div class="error-container">
                        <span *ngIf="content.errors?.['required'] && this.submitted" class="validation-error">
                            Pole jest wymagane
                        </span>
                        <span *ngIf="content.errors?.['maxlength'] && this.submitted" class="validation-error">
                            Pole musi zawierać max 1000 znaków
                        </span>
                        <span *ngIf="fieldErrors['Content']" class="validation-error">
                            {{ fieldErrors['Content'][0] }}
                        </span>
                    </div>
                    </div>

                    <div class="mb-5 group-admin-input">
                      <label style="width: 90%;" for="rate" class="form-label">Ocena</label>
                      <select style="width: 90%; border: 1px solid black;" class="form-select" name="rate" id="rate" [(ngModel)]="newOpinion.rate" #rate="ngModel">
                        <option [ngValue]="1">1.0</option>
                        <option [ngValue]="2">2.0</option>
                        <option [ngValue]="3">3.0</option>
                        <option [ngValue]="4">4.0</option>
                        <option [ngValue]="5">5.0</option>
                      </select>
                    </div>
                    <div class="d-flex justify-content-center">
                  <button type="submit" class="btn-custom btn-edit">Zapisz opinie</button>
                </div>
                  </form>
                </div>
               
        
           
              </div>
            </div>
          </div>


          <div *ngIf="editOpinion" class="modal fade" #updateOpinionModal id="updateOpinionModal" tabindex="-1" aria-labelledby="updateOpinionModal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header bg-button">
                  <h5 class="modal-title w-100 text-center text-white" id="opinionModalLabel">Edytuj opinie</h5>
                  <span class="text-white" style="cursor: pointer;" data-bs-dismiss="modal" aria-label="Close">X</span>
                </div>
                <div class="modal-body">
                  <form #editForm="ngForm" (ngSubmit)="onEditSubmit()">

                    <div class="group-admin-input">
                      <label for="content" style="width: 90%;">Treść opinii</label>
                      <textarea style="width: 90%;"  id="content" rows="3" name="content" required 
                       maxlength="1000" [(ngModel)]="editOpinion.content" #content="ngModel"></textarea>
                       <div class="error-container">
                        <span *ngIf="content.errors?.['required'] && this.submitted" class="validation-error">
                            Pole jest wymagane
                        </span>
                        <span *ngIf="content.errors?.['maxlength'] && this.submitted" class="validation-error">
                            Pole musi zawierać max 1000 znaków
                        </span>
                        <span *ngIf="fieldErrors['Content']" class="validation-error">
                            {{ fieldErrors['Content'][0] }}
                        </span>
                    </div>
                    </div>

                    <div class="mb-5 group-admin-input">
                      <label style="width: 90%;" for="rate" class="form-label">Ocena</label>
                      <select style="width: 90%; border: 1px solid black;" class="form-select" name="rate" id="rate" [(ngModel)]="editOpinion.rate" #rate="ngModel">
                        <option [ngValue]="1">1.0</option>
                        <option [ngValue]="2">2.0</option>
                        <option [ngValue]="3">3.0</option>
                        <option [ngValue]="4">4.0</option>
                        <option [ngValue]="5">5.0</option>
                      </select>
                    </div>
                    <div class="d-flex justify-content-evenly">
                  <button type="submit" class="btn-custom btn-detail">Edytuj opinie</button>
                  <button type="button" class="btn-custom btn-delete" (click)="deleteOpinion()">Usuń opinie</button>
                </div>
                  </form>
                </div>
               
        
           
              </div>
            </div>
          </div>
















          <div class="col-lg-1 d-none d-lg-block vertical-line" style="height:90%;">
          </div>
          <div class="horizontal-line-black d-lg-none py-5" style="height: 2px;"></div>
    
          <div class="col-lg-5 d-flex flex-column align-items-center align-items-lg-start">
            <span class="fs-4"><strong>Dane kontaktowe:</strong></span>
            <span class="fs-4">{{ mentor.phoneNumber}}</span>
            <span class="fs-4">{{ mentor.email }}</span>
          </div>
   
    </div>

    <div class="row bg-secondary mb-3 rounded-3 py-2" style="border:2px solid black;">
      <div class="col-12 col-md d-flex flex-column ms-1 align-items-center align-items-md-start">
        <span><strong>Cennik:</strong></span>
        <ng-container *ngIf="mentor.role=='Trainer'">
        <span>Plan treningowy: {{(mentor.trainingPlanPriceFrom !== null && mentor.trainingPlanPriceTo !== null) ? mentor.trainingPlanPriceFrom + '-' + mentor.trainingPlanPriceTo : '-' }}</span>
        <span>Trening personalny: {{(mentor.personalTrainingPriceFrom !== null && mentor.personalTrainingPriceTo !== null) ? mentor.personalTrainingPriceFrom + '-' + mentor.personalTrainingPriceTo : '-' }}</span>
      </ng-container>
      <ng-container *ngIf="mentor.role=='Dietician'">
        <span>Dieta: {{(mentor.dietPriceFrom !== null && mentor.dietPriceTo !== null) ? mentor.dietPriceFrom + '-' + mentor.dietPriceTo: '-' }}</span>
      </ng-container>
      <ng-container *ngIf="mentor.role=='Dietician-Trainer'">
        <span>Plan treningowy: {{(mentor.trainingPlanPriceFrom !== null && mentor.trainingPlanPriceTo !== null) ? mentor.trainingPlanPriceFrom + '-' + mentor.trainingPlanPriceTo : '-' }}</span>
        <span>Trening personalny: {{(mentor.personalTrainingPriceFrom !== null && mentor.personalTrainingPriceTo !== null) ? mentor.personalTrainingPriceFrom + '-' + mentor.personalTrainingPriceTo : '-' }}</span>
        <span>Dieta: {{(mentor.dietPriceFrom !== null && mentor.dietPriceTo !== null) ? mentor.dietPriceFrom + '-' + mentor.dietPriceTo: '-' }}</span>
      </ng-container>
      </div>
      <div class="col-12 mt-3 mt-md-0 col-md d-flex flex-column align-items-center align-items-md-start">
        <ng-container *ngIf="mentor.trainerGyms!=null && mentor.trainerGyms.length>0">
        <span><strong>Preferowane siłownie:</strong></span>
        <span *ngFor="let gym of mentor.trainerGyms">{{ gym.cityName +', '+gym.name}}</span>
      </ng-container>
      </div>
    </div>
      
    
        <div class="row">

          <div class="col-12 col-lg-4 p-0">
            <div class="bg-secondary d-flex flex-column mb-3 mb-lg-0 me-lg-4 rounded-3 gap-3 p-3" style="border: 2px solid black;">
          <span class="text-center fs-2 fw-bold">O mnie</span>
          <span class="text-center">{{ mentor.bio }}</span>
        </div>
          </div>
    
        <div class="col p-0">
          
          <div class="d-flex flex-column bg-secondary rounded-3 p-3" style="border: 2px solid black;">
            <div class="mb-1">
              <span class="fs-2 fw-bold">Opinie</span>
            </div>
            


           <div class="d-flex align-items-center gap-2">
            <img src="../../../assets/icons/star.png" width="40px" height="auto" >
            <span class="fs-3">{{mentor.totalRate | number:'1.1-1'}}</span>
          <span class="fs-3 fw-bold">({{mentor.opinionNumber}} opinie)</span>
        </div>
      
         
        <app-mentor-opinion *ngFor="let opinion of mentor.opinions | slice:0:2" [imageUri]="opinion.imageUri" [rate]="opinion.rate" [pupilName]="opinion.pupilName" [content]="opinion.content" [date]="opinion.opinionDate"></app-mentor-opinion>
        <ng-container *ngIf="mentor.opinions.length>2">

          <div class="d-flex justify-content-center">
        <a class="px-2 bg-btn-orange rounded-3 text-black text-decoration-none" style="cursor: pointer; border: 1px solid black;" data-bs-toggle="modal" data-bs-target="#opinionModal">Pokaż wszystkie</a>
      </div>
        <div class="modal fade" id="opinionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">

              <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Opinie ({{mentor.opinionNumber}})</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            

              <div class="modal-body bg-secondary">
                <app-mentor-opinion *ngFor="let opinion of mentor.opinions" [imageUri]="opinion.imageUri" [rate]="opinion.rate" [pupilName]="opinion.pupilName" [content]="opinion.content" [date]="opinion.opinionDate"></app-mentor-opinion>
              </div>


            </div>
          </div>
        </div>

        </ng-container>

      </div>
          </div>
          
       
    
      </div>
     
    </div>