<div class="container-fluid mt-5">
    <app-menu-admin></app-menu-admin>
    <button class="btn-primary mb-3" style="width: fit-content;" routerLink="/admin/exercise/create">Dodaj ćwiczenie</button>
    <input type="text" class="form-control mb-3 fs-5" placeholder="Szukaj ćwiczeń..." [(ngModel)]="searchTerm" (input)="filterExercices()">
    <ng-container *ngIf="!exercices?.length">
        <h1 class="text-center mt-5">Brak ćwiczeń</h1>
    </ng-container>

    <div class="dialog-container" *ngIf="showDialog">
        <div class="dialog">
          <h3 class="dialog-header">Potwierdzenie usunięcia</h3>
          <div class="dialog-body">
          <span>Czy na pewno chcesz usunąć ćwiczenie?</span>
          <br>
          <span>Nazwa: <strong>{{selectedExercise?.name}}</strong></span>
        </div>
          <div class="dialog-actions">
            <button class="btn-primary" (click)="cancelDelete()">Anuluj</button>
            <button class="btn-alert" (click)="confirmDelete()">Usuń</button>
          </div>
        </div>
      </div>

    
    <div *ngIf="exercices?.length">
        <table class="table-admin table table-striped table-responsive">
            <thead>
                <tr>
                    <th scope="col">Nazwa</th>
                    <th scope="col" style="width: 30%;">Akcje</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let exercise of filteredExercices">
                    <td>{{ exercise.name }}</td>
                    <td>
    
                            <div class="d-flex justify-content-center flex-column flex-sm-row gap-2">
                                <button type="button" class="btn-primary" routerLink="/admin/exercise/details/{{exercise.idExercise}}">Szczegóły</button>
                                <button type="button" class="btn-confirm" routerLink="/admin/exercise/edit/{{exercise.idExercise}}">Edytuj</button>
                                <button type="button" class="btn-alert" (click)="deleteExercise(exercise.idExercise)">Usuń</button>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    
    </div>