<div class="container-fluid">
    <div class="row my-3">
        <a [routerLink]='"/training-plans"' class="btn-primary w-auto" ><i class="bi bi-arrow-left"></i> Powrót do listy planów</a>
    </div>
    <div class="row bg-secondary rounded-div shadow">
        <div class="col-12 bg-primary rounded-top-3 py-2">
            <h1 class="text-center text-white">Nowy plan</h1>
        </div>
        <form #form="ngForm" (ngSubmit)="onSubmit(form.valid)">

            <div class="group col-12 mt-3">
                <div class="input-container">
                <label for="name">Nazwa *</label>
                <input type="text" id="name" name="name" [(ngModel)]="addTrainingPlanRequest.name"
                required minlength="3" maxlength="50" #name="ngModel">
                <div class="error-container">
                <span *ngIf="name.errors?.['required'] && this.submitted" class="validation-error">
                    Pole jest wymagane
                </span>
                <span *ngIf="name.errors?.['minlength'] && this.submitted" class="validation-error">
                    Pole musi zawierać min 3 znaki
                </span>
                <span *ngIf="name.errors?.['maxlength'] && this.submitted" class="validation-error">
                    Pole musi zawierać max 50 znaków
                </span>
                <span *ngFor="let error of fieldErrors['Name']"  class="validation-error">
                    {{ error }}
                </span>
            </div>
                </div>
            </div>


            <div class="col-12 group">
                <div class="input-container">
                <label for="customName">Nazwa robocza </label>
                <input type="text"  id="customName" name="customName" [(ngModel)]="addTrainingPlanRequest.customName"
                 maxlength="50" #customName="ngModel" >
                 <div class="error-container">
                <span *ngIf="customName.errors?.['maxlength'] && this.submitted" class="validation-error">
                    Pole musi zawierać max 50 znaków
                </span>
                <span *ngFor="let error of fieldErrors['CustomName']"  class="validation-error">
                    {{ error }}
                </span>
                </div>
            </div>
            </div>




            <div class="col-12 group">
                <div class="input-container">
                <label for="type">Typ * </label>
                <input type="text" id="type" name="type" [(ngModel)]="addTrainingPlanRequest.type"
              required=""  minlength="3" maxlength="50" #type="ngModel" >
              <div class="error-container">
                <span *ngIf="type.errors?.['required'] && this.submitted" class="validation-error">
                    Pole jest wymagane
                </span>
                <span *ngIf="type.errors?.['minlength'] && this.submitted" class="validation-error">
                    Pole musi zawierać min 3 znaki
                </span>
                <span *ngIf="type.errors?.['maxlength'] && this.submitted" class="validation-error">
                    Pole musi zawierać max 50 znaków
                </span>
                <span *ngFor="let error of fieldErrors['Type']"  class="validation-error">
                    {{ error }}
                </span>
            </div>
            </div>
        </div>


        <div class="col-12 group">
            <div class="input-container">
                <label for="startDate">Data rozpoczęcia *</label>
                <input type="date" id="startDate" name="startDate" [(ngModel)]="addTrainingPlanRequest.startDate"
                required min="{{this.dateToday}}" #startDate="ngModel">
                <div class="error-container">
                <span *ngIf="startDate.errors?.['required'] && this.submitted" class="validation-error">
                    Pole jest wymagane
                </span>
                <span *ngIf="startDate.errors?.['min'] && this.submitted" class="validation-error">
                    
                </span>
                <span *ngFor="let error of fieldErrors['StartDate']"  class="validation-error">
                    {{ error }}
                </span>
            </div>
        </div>
        </div>


        <div class="col-12 group">
            <div class="input-container">
                <label for="numberOfWeeks">Ilość tygodni *</label>
                <input type="number" id="numberOfWeeks" name="numberOfWeeks" [(ngModel)]="addTrainingPlanRequest.numberOfWeeks" 
                required min="1" max="50"  #numberOfWeeks="ngModel" >
                <div class="error-container">
                <span *ngIf="numberOfWeeks.errors?.['required'] && this.submitted" class="validation-error">
                    Pole jest wymagane
                </span>
                <span *ngIf="numberOfWeeks.errors?.['min'] && this.submitted" class="validation-error">
                    Ilośc tygodni musi być większa od 0
                </span>
                <span *ngIf="numberOfWeeks.errors?.['max'] && this.submitted" class="validation-error">
                    Ilość tygodni musi być mniejsza od 50
                </span>
                <span *ngFor="let error of fieldErrors['NumberOfWeeks']"  class="validation-error">
                    {{ error }}
                </span>
            </div>
        </div>
        </div>
            <div class="col-12 d-flex justify-content-center mb-3">
            <button type="submit" class="btn-confirm">Stwórz</button>
        </div>
        </form>
    </div>
    </div>

