.container-slim
{
    background-color: #D9D9D9;
   
    border-radius: 10px;
    width: 60%;
    flex: content;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #A6A6A6;
    border-radius: 10px;
    
    
    
}




input,label,.validation-error{
    margin-left: 25%;
}

h3{
    font-size: 38px;
    text-align: center;
}

.button-create{
    margin: 10px 0px;
    font-size: 24px;
    padding: 10px 20px ;
    background-color: #52CE50;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}