

label {
    padding-left: 2px;
    font-size: 20px;
    color: black;
    width: 80%;
}

input{
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    font-size: 18px;
}

  .input-container{
    display: flex;
    flex-direction: column;
    width: 60%;
  }

@media (max-width: 768px) {
  .input-container{
    width: 90%;
  }
}
