.border-profile {
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}


.group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    padding-left: 2px;
    font-size: 20px;
    color: black;
    width: 80%;
}

input, textarea{
    width: 80%;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    border: 1px solid grey;
}


input:disabled, textarea:disabled {
    background-color: white;
    color: black;
}

textarea{
width: 90%;
}

a{
    width: auto;
    
}




  
  .info-icon {
    cursor: pointer;
    margin-left: 5px;
    position: relative;
    z-index: 1; 
  }
  
  .info-tooltip {
    visibility: hidden;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    position: absolute;
    top: 0;
    left: 100%;
    width: 250px;
    z-index: 3;
  }
  
  .info-icon:hover + .info-tooltip {
    visibility: visible;
    opacity: 1;
  }

  
@media (max-width: 900px) {
  .info-tooltip {
      width: 200px;
      left: auto;
      right: 100%;
  }
}


  