<a [routerLink]='"/exercises-list"'> < Powrót do listy ćwiczeń</a>
<div class="container-slim">
    <h3>Edycja ćwiczenia</h3> 
    <div class="row">
        <div class="container-form">
            <form #form="ngForm" (ngSubmit)="edit()">
                <div class="mb-3">
                    <label for="name" class="form-label-custom">Nazwa:</label><br>
                    <input type="text" class="form-input" id="name" name="name" value={{exerciseEdit.name}} [(ngModel)]="exerciseEdit.name">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label-custom">Opis</label><br>
                    <textarea class="form-input" id="description" name="description" [(ngModel)]="exerciseEdit.details">{{exerciseEdit.details}}</textarea>
                </div>
                <div class="mb-3">
                    <label for="steps" class="form-label-custom">Sposób wykonania</label><br>
                    <textarea class="form-input" id="steps" name="steps" [(ngModel)]="exerciseEdit.exercise_steps">{{exerciseEdit.exercise_steps}}</textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label-custom" >Zdjęcie</label><br>
                    <input type="file" class="form-input" id="image" name="image" [(ngModel)]="exerciseEdit.image">
                </div>

                <button type="submit" class="button-edit">Edytuj</button>
            </form>
        </div>
    </div>
</div>