


.content{
    margin-left: 18vw;
    margin-right: 1vw;
    margin-bottom: 7vh;
    height: 100%;

}

@media (max-width: 1400px) {
    .content{
        margin-left: 10vw;
        margin-right: 1vw;
        margin-bottom: 7vh;
        height: 100%;

    
    }
}