<div class="container">
    <div class="register-container">
        <span class="register-text">Rejestracja</span>
        <input type="text" class="searchInput" placeholder="Adres e-mail">
        <input type="text" class="searchInput" placeholder="Hasło">
        <input type="text" class="searchInput" placeholder="Powtórz hasło">
        <input type="text" class="searchInput" placeholder="Imie">
        <input type="text" class="searchInput" placeholder="Nazwisko">
        <div class="checkbox-container">
        <input type="checkbox" class="checkbox">
        <span class="checkbox-span">Akceptuje politykę strony</span>
        </div>
        <button>Zarejestruj się</button>
        <div>
            <span>Masz już konto? </span>
            <a routerLink="/">Zaloguj się</a>
        </div>
    </div>
    </div>