<div class="container-fluid bg-primary mt-5 p-0 rounded-5 shadow" style="height: auto;" >
    <div *ngIf="errorFlag=='error'" class="error-popup">
        Wystapił błąd podczas rejestracji. Proszę spróbować ponownie.
      </div>
        <h1 class="text-center text-white my-3">Rejestracja</h1>
 

        <form #form="ngForm" class="w-100" (ngSubmit)="onSubmit(form.valid)">
            <div class="row">

            <div class="group-input col-12 col-lg-6">
            <label for="email" class="text-white">Email</label>
            <input type="email" name="email" id="email" class="searchInput" placeholder="Adres e-mail"
            [(ngModel)]="registerRequest.email" #email="ngModel" required pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$">
            <div class="error-container">
            <span *ngIf="email.errors?.['required'] && this.submitted" class="validation-error">
                Pole jest wymagane
            </span>
            <span *ngIf="email.errors?.['pattern'] && this.submitted" class="validation-error">
                To nie jest prawidłowy adres email
            </span>
            <span *ngIf="this.emailTaken && this.submitted" class="validation-error">
                Ten adres email jest już zajęty
            </span>
            <span *ngIf="fieldErrors['Email']"  class="validation-error">
                {{ fieldErrors['Email'][0] }}
            </span>
        </div>
    </div>

    <div class="group-input col-12 col-lg-6">
        <label for="role" class="form-label">Typ użytkownika</label>
        <select name="role" id="role" class="searchInput" [(ngModel)]="registerRequest.roleId" #role="ngModel">
            <option value="2">Podopieczny</option>
            <option value="3">Trener</option>
            <option value="4">Dietetyk</option>
            <option value="5">Trener-Dietetyk</option>
        </select>
        <div class="error-container"></div>
    </div>

    <div class="group-input col-12 col-lg-6">
            <label for="password">Hasło</label>
            <input type="password" name="password" id="password" class="searchInput" placeholder="Hasło"
            [(ngModel)]="registerRequest.password" #password="ngModel"  required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            <div class="error-container">
            <span *ngIf="password.errors?.['required'] && this.submitted" class="validation-error">
                Pole jest wymagane
            </span>
            <span *ngIf="password.errors?.['pattern'] && this.submitted" class="validation-error">
                Minimum 8 znaków <br> 1 mała litera, 1 duża litera, 1 cyfra
            </span>
            <span *ngIf="fieldErrors['Password']"  class="validation-error">
                {{ fieldErrors['Password'][0] }}
            </span>
        </div>
    </div>



    <div class="group-input col-12 col-lg-6">
            <label for="password2" class="form-label">Powtórz hasło</label>
            <input type="password" name="password2" id="password2" class="searchInput" placeholder="Powtórz hasło"
            [(ngModel)]="additionalFields.passwordRepeat" #password2="ngModel" required>
            <div class="error-container">
            <span *ngIf="registerRequest.password!=additionalFields.passwordRepeat && this.submitted" class="validation-error">
                Hasła nie są takie same
            </span>
        </div>
    </div>

    <div class="group-input col-12 col-lg-6">
            <label for="name" class="form-label">Imie</label>
            <input type="text" name="name" id="name" class="searchInput" placeholder="Imie"
            [(ngModel)]="registerRequest.name" #name="ngModel" required minlength="2" maxlength="50">
            <div class="error-container">
            <span *ngIf="name.errors?.['required'] && this.submitted" class="validation-error">
                Pole jest wymagane
            </span>
            <span *ngIf="name.errors?.['minlength'] && this.submitted" class="validation-error">
                Pole musi zawierać min 2 znaki
            </span>
            <span *ngIf="name.errors?.['maxlength'] && this.submitted" class="validation-error">
                Pole musi zawierać max 50 znaków
            </span>
            <span *ngIf="fieldErrors['Name']"  class="validation-error">
                {{ fieldErrors['Name'][0] }}
            </span>
        </div>
        </div>

        <div class="group-input col-12 col-lg-6">
            <label for="lastName" class="form-label">Nazwisko</label>
            <input type="text" name="lastName" id="lastName" class="searchInput" placeholder="Nazwisko"
            [(ngModel)]="registerRequest.lastName" #lastName="ngModel" required minlength="2" maxlength="50">
            <div class="error-container">
            <span *ngIf="lastName.errors?.['required'] && this.submitted" class="validation-error">
                Pole jest wymagane
            </span>
            <span *ngIf="lastName.errors?.['minlength'] && this.submitted" class="validation-error">
                Pole musi zawierać min 2 znaki
            </span>
            <span *ngIf="lastName.errors?.['maxlength'] && this.submitted" class="validation-error">
                Pole musi zawierać max 50 znaków
            </span>
            <span *ngIf="fieldErrors['LastName']"  class="validation-error">
                {{ fieldErrors['LastName'][0] }}
            </span>
            </div>
        </div>

           <div class="d-flex justify-content-center col-12">
            <button type="submit" class="bg-button p-2 text-lg text-white fs-4 my-3 rounded-3 fw-bold" style="width: 50%;">Zarejestruj się</button>
        </div>
            </div>
        </form>
        <div class="col-12 text-center mb-3 text-white fs-5">
            <span>Masz już konto? <br class="d-sm-none"></span>
            <a class="text-white fw-bold" routerLink="/">Zaloguj się</a>
        </div>
        </div>
        
        
        

