<div class="container-fluid">
    <div class="row my-3">
        <a class="btn-primary w-auto" routerLink="/myProfile"><i class="bi bi-arrow-left"></i> Powrót do profilu</a>
        </div>
    <div *ngIf="successFlag=='success'" class="success-popup">
        Prośba wysłana!
      </div>
      <div *ngIf="successFlag=='error'" class="error-popup">
        Wystapił błąd podczas wysyłania prośby. Proszę spróbować ponownie.
      </div>
    

    <div class="row bg-secondary rounded-div shadow">
        <div class="col-12 bg-primary rounded-top-3 py-2">
            <h1 class="text-center text-white">Dane nowej siłowni</h1>
        </div> 
        <form #profileForm="ngForm" (ngSubmit)="onSubmit()">
            

        <div class="col-12 group mt-3">
            <div class="input-container">
                <label for="name">Nazwa siłowni *</label>
                <input id="name" type="text" [(ngModel)]="GymToCreate.name" name="name" #name="ngModel" required maxlength="100">
                <div class="error-container">
                    <span *ngIf="name.touched && name.errors?.['required']" class="validation-error">
                        Nazwa siłowni jest wymagana.
                    </span>
                    <span *ngIf="name.touched && name.errors?.['maxlength']" class="validation-error">
                        Nazwa siłowni może zawierać maksymalnie 100 znaków.
                    </span>
                    <span *ngIf="fieldErrors['Name']" class="validation-error">
                        {{ fieldErrors['Name'][0] }}
                    </span>
                </div>
            </div>
        </div>
        
        <div class="col-12 group">
            <div class="input-container">
                <label for="city">Miasto *</label>
                <input id="city" type="text" [(ngModel)]="GymToCreate.city" name="city" #city="ngModel" required maxlength="85">
                <div class="error-container">
                    <span *ngIf="city.touched && city.errors?.['required']" class="validation-error">
                        Nazwa miasta jest wymagana.
                    </span>
                    <span *ngIf="city.touched && city.errors?.['maxlength']" class="validation-error">
                        Nazwa miasta może zawierać maksymalnie 85 znaków.
                    </span>
                    <span *ngIf="fieldErrors['City']" class="validation-error">
                        {{ fieldErrors['City'][0] }}
                    </span>
                </div>
            </div>
        </div>
        
        <div class="col-12 group">
            <div class="input-container">
                <label for="street">Ulica *</label>
                <input id="street" type="text" [(ngModel)]="GymToCreate.street" name="street" #street="ngModel" required maxlength="120">
                <div class="error-container">
                    <span *ngIf="street.touched && street.errors?.['required']" class="validation-error">
                        Nazwa ulicy jest wymagana.
                    </span>
                    <span *ngIf="street.touched && street.errors?.['maxlength']" class="validation-error">
                        Nazwa ulicy może zawierać maksymalnie 120 znaków.
                    </span>
                    <span *ngIf="fieldErrors['Street']" class="validation-error">
                        {{ fieldErrors['Street'][0] }}
                    </span>
                </div>
            </div>
        </div>
        
        <div class="col-12 group">
            <div class="input-container">
                <label for="postalCode">Kod pocztowy *</label>
                <input id="postalCode" type="text" [(ngModel)]="GymToCreate.postalCode" name="postalCode" #postalCode="ngModel" required pattern="^\d{2}-\d{3}$">
                <div class="error-container">
                    <span *ngIf="postalCode.touched && postalCode.errors?.['required']" class="validation-error">
                        Kod pocztowy jest wymagany.
                    </span>
                    <span *ngIf="postalCode.touched && postalCode.errors?.['pattern']" class="validation-error">
                        Nieprawidłowy format kodu pocztowego. Poprawny format to XX-XXX.
                    </span>
                    <span *ngIf="fieldErrors['PostalCode']" class="validation-error">
                        {{ fieldErrors['PostalCode'][0] }}
                    </span>
                </div>
            </div>
        </div>
        
        

        <div class="col-12 group mt-3">
            <button type="submit" class="btn-primary">Zapisz zmiany</button>
        </div>
       

    </form>

        <div class="col-12 mt-3"><h2>Moje prośby</h2></div>
        <div class="col-12 horizontal-line-black mb-2 ms-1" style="height: 1px; width: 99%;"></div>

        
        <div *ngIf="GymsAddedByUser && GymsAddedByUser.length > 0; else noGymsTemplate">
            <table class="table table-admin table-striped">
                <thead>
                    <tr>
                        <th scope="col">Miasto</th>
                        <th scope="col">Nazwa siłowni</th>
                        <th scope="col">Ulica</th>
                        <th scope="col">Kod pocztowy</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let gym of GymsAddedByUser">
                        <td>{{gym.city}}</td>
                        <td>{{gym.name}}</td>
                        <td>{{gym.street}}</td>
                        <td>{{gym.postalCode}}</td>
                        <ng-container *ngIf="gym.isAccepted == true">
                            <td><i class="bi bi-check-circle-fill" style="color: green;"></i></td>
                        </ng-container>
                        <ng-container *ngIf="gym.isAccepted == false">
                            <td><i class="bi bi-question-circle-fill"></i></td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    <ng-template #noGymsTemplate>
        <div class="col-12">
          <span class="fs-4" style="margin-left: 5%;">Nie dodaleś jeszcze żadnej siłowni lub twoja prośba została odrzucona</span>
        </div>
      </ng-template>



    </div>
</div>

