.container-slim
{
    background-color: #D9D9D9;
   
    border-radius: 10px;
    width: 60%;
    flex: content;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 10px;
    
}


input,label,.validation-error,textarea{
    margin-left: 25%;
}

h3{
    font-size: 32px;
    text-align: center;
    padding: 10px 0px;
}


.button-create{
    margin: 10px 0px;
    font-size: 24px;
    padding: 10px 20px ;
    background-color: #52CE50;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}




#steps{
    height: 200px;
    font-size: 15px;
}

#description{
    height: 120px;
    font-size: 15px;
}

#image{
    font-size: 16px;
    border: none;
}