<div class="container">
    <a [routerLink]="['/training-plans/edit',id_training]">< Powrót do edycji planu</a>
    <div class="container-top">
        <button type="button" class="exercise-button" id="my-exercises" (click)="MyExercises()">Moje ćwiczenia</button>
        <button type="button" class="exercise-button" id="all-exercises" (click)="AllExercises()">Wszystkie ćwiczenia</button>
        <div class="col-6">
            <form #form="ngForm" >
                <div >
                    
                    <button class="filter-button" type="button" (click)="filterResults(filter.value)">
                        <img src="../../../../assets/icons/search.png" class="search-icon">
                    </button>
                    
                    <input class="filter-input" type="text" placeholder=" Wyszukaj ćwiczenie" #filter>
                </div>

                
            </form>
        </div>
        <a routerLink="#" class="create-exercise-link">
            <span class="button-create">Stwórz nowe ćwiczenie +</span> </a>
    </div>

    <div class="container-table">
        <table class="table"  *ngIf="trainingPlanExercises && trainingPlanExercises.length > 0">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Dodaj do planu</th>
                    <th>Edycja</th>
                    <th>Szczegóły</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trainingPlanExercise of trainingPlanExercises">
                    <td>{{trainingPlanExercise.name}}</td>
                    <td><a routerLink="/training-exercise/add" [queryParams]="{exerciseId:trainingPlanExercise.id_Exercise,trainingId:id_training}">[+]</a></td>
                    <td>TODO</td>
                    <td>TODO</td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="!trainingPlanExercises || trainingPlanExercises.length <=0">Nie znaleziono żadnych ćwiczeń</p>
        
    </div>
    
</div>
