<div class="">
    <a [routerLink]='"/training-plans"'> < Powrót do listy planów</a>
    <div class="container-slim">
        <h3>Szczegóły planu</h3>
        <div class="">
            <form #form="ngForm" >
                <div class="mb-3">
                    <label for="name" class="form-label-custom">Nazwa:</label><br>
                    <input type="text" class="form-input" id="name" name="name" value={{trainingPlan.name}} >
                </div>
                <div class="mb-3">
                    <label for="customName" class="form-label-custom">Nazwa robocza:</label><br>
                    <input type="text" class="form-input" id="customName" name="customName" value={{trainingPlan.customName}} >
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label-custom">Typ:</label><br>
                    <input type="text" class="form-input" id="type" name="type" value={{trainingPlan.type}} >
                </div>
                <div class="mb-3">
                    <label for="start_date" class="form-label-custom">Data rozpoczęcia:</label><br>
                    <input type="date" class="form-input" id="start_date" name="start_date" value={{formStartDate}} >
                </div>
                <div class="mb-3">
                    <label for="numberOfWeeks" class="form-label-custom">Ilość tygodni:</label><br>
                    <input type="number" class="form-input" id="numberOfWeeks" name="numberOfWeeks" value={{trainingPlan.numberOfWeeks}}>
                </div>

                <button type="submit" class="button-edit">Edytuj</button>
            </form>
        </div>
    </div>
    <div class="container-table">
        <div class="days-container">
            <div class="day" id="pn" (click)="changeTrainingDay(0,'pn')">Pn</div>
            <div class="day" id="wt" (click)="changeTrainingDay(1,'wt')">Wt</div>
            <div class="day" id="sr" (click)="changeTrainingDay(2,'sr')">Śr</div>
            <div class="day" id="czw" (click)="changeTrainingDay(3,'czw')">Czw</div>
            <div class="day" id="pt" (click)="changeTrainingDay(4,'pt')">Pt</div>
            <div class="day" id="sob" (click)="changeTrainingDay(5,'sob')">Sob</div>
            <div class="day" id="nd" (click)="changeTrainingDay(6,'nd')">Nd</div>
        </div>
        <table class="table"   *ngIf="trainingPlanExercises && trainingPlanExercises.length > 0">
            <thead>
                <tr>
                    <th id="name-header">Nazwa</th>
                    <th>Serie i powtórzenia</th>
                    <th >Szczegóły/Edycja</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let trainingPlanExercise of filteredTrainingPlanExercises" >
                    <td>{{trainingPlanExercise.name}}</td>
                    <td>{{trainingPlanExercise.seriesNumber}}s x {{trainingPlanExercise.repetitionsNumber}} powt.</td>
                    <td></td>
                    
                </tr>
                <tr  *ngIf="filteredTrainingPlanExercises.length<1" >
                    <td></td>
                    <td id="regen">Regeneracja</td>
                    <td></td>
                    
                </tr>
            </tbody>
        </table>
        <p *ngIf="!trainingPlanExercises || trainingPlanExercises.length <=0">Ten plan treningowy nie zawiera ćwiczeń</p>
        <a routerLink="/training-plans/exercise-list" [queryParams]="{id: idTraining}" class="">
             <span class="add-exercise-link">+ <br>Dodaj ćwiczenie do planu</span> </a>
    </div>
    
</div>