.buttons{
    width: 60%;
}
@media (max-width: 768px){
    .group-admin-input input{
        width: 90%;
    }
    .group-admin-input label{
        width: 90%;
    }
    .buttons{
        width: 92%;
    }
}




