<div class="">
    <a [routerLink]='"/pupilTrainingPlans"'class="btn-primary" ><i class="bi bi-arrow-left"></i> Powrót do listy planów</a>
    <div class="container-slim shadow">
        <div >
        <h3>
            Szczegóły planu: <br>
            
        </h3>
        <div class="container plan-details">
            <div class="row">
                <div class="col plan-info">nazwa: {{trainingPlan.name}}</div>
                <div class="col plan-info">wygasa: {{getEndDate(trainingPlan.endDate)}}</div>
                <div class="col plan-infoo " ><img id="calendar-icon" src="../../../../assets/icons/calendar.png" /></div>
            </div>
            <div class="row">
                
                <div class="col plan-info" id="type">typ: {{trainingPlan.type}}</div>
                <div class="col plan-info"><a [routerLink]='["/trainerProfile",trainingPlan.idTrainer]'>przygotował: {{trainingPlan.trainerName}} {{trainingPlan.trainerLastName}}</a> </div>
                <div class="col plan-info"> 
                <form >
                    <input type="date" name="trainingDay" (change)="changeTrainingDayByCalendar()" [(ngModel)]="this.dateInputString" #trainingDay="ngModel" />
                </form> </div>
            
            </div>
        </div>

        </div>
       
    </div>
               
    <div class="container-table shadow">
        <div class="days-container">
            <div class="day" id="pn" (click)="changeTrainingDay(1,'pn')">Pn</div>
            <div class="day" id="wt" (click)="changeTrainingDay(2,'wt')">Wt</div>
            <div class="day" id="sr" (click)="changeTrainingDay(3,'sr')">Śr</div>
            <div class="day" id="czw" (click)="changeTrainingDay(4,'czw')">Czw</div>
            <div class="day" id="pt" (click)="changeTrainingDay(5,'pt')">Pt</div>
            <div class="day" id="sob" (click)="changeTrainingDay(6,'sob')">Sob</div>
            <div class="day" id="nd" (click)="changeTrainingDay(7,'nd')">Nd</div>
        </div>
        <table class="table"   *ngIf="trainingPlanExercises && trainingPlanExercises.length > 0">
            <thead>
                <tr>
                    <th id="name-header">Nazwa</th>
                    <th>Serie i powtórzenia</th>
                    <th >Szczegóły</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let trainingPlanExercise of filteredTrainingPlanExercises" >
                    <td>{{trainingPlanExercise.exerciseName}}</td>
                    <td>{{trainingPlanExercise.seriesNumber}}s x {{trainingPlanExercise.repetitionsNumber}} powt.</td>
                    <td><a [routerLink]="['training-exercise-details/',trainingPlanExercise.idTraineeExercise]" ><img src="../../../../assets/icons/edit.png" id="edit-icon"></a></td>
                    
                </tr>
                <tr  *ngIf="filteredTrainingPlanExercises.length<1" >
                    <td></td>
                    <td id="regen">Regeneracja</td>
                    <td></td>
                    
                </tr>
            </tbody>
        </table>
        <p *ngIf="!trainingPlanExercises || trainingPlanExercises.length <=0" class="empty-paragraph">Ten plan treningowy nie zawiera ćwiczeń</p>
    </div>
</div>