<div class="container">
    <div class="left-container">
        <img src="../../../assets/icons/user.png" class="user-img">
        <span>Cristiano</span>
        <span>14.12.2023</span>
    </div>

    <div class="right-container">
        <div class="right-top-container">
            <span>Ocena</span>
            <img src="../../../assets/icons/star.png" class="star-img">
        <span>5.0</span>
        </div>
        <span>Jakub jest nie tylko świetnym trenerem, ale także osobą, która zawsze wierzyła we mnie i wspierała mnie w moich celach. Jego podejście do treningów było zawsze profesjonalne i skuteczne, a jednocześnie przyjazne i motywujące. Potrafił znaleźć w każdym z naszych zawodników mocne strony i pomóc nam w ich rozwijaniu.
            Dzięki trenerowi Jakubowi, zdobyłem wiele umiejętności, które pomogły mi w osiągnięciu sukcesów na boisku. Jego wiedza i doświadczenie były bezcenne, a jego pozytywna energia i entuzjazm zawsze motywowały mnie do dalszej pracy i rozwoju.</span>
    </div>

</div>