
.table thead th {
    padding: 12px 15px; 
    text-align: left; 
    color: white; 
    background-color: #0F1A50;
}
  .table thead tr{
    border-radius: 10px 10px 0px 0px;
  }
  .table th, .table td {
    word-break: break-all; 
    border: 1px solid black;
}





@media (max-width: 1200px) {
  .table {
      border: 0;
  }

  .table thead {
      display: none;
  }

  .table, .table tbody, .table tr, .table td {
      display: block;
      width: 100%;
  }

  .table tr {
      margin-bottom: 15px;
  }

  .table td {
      text-align: center;
  }

  .table td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: bold;
      text-align: left;
  }
}

@media (max-width: 370px) {
  .btn-container{
    display: flex;
    flex-direction: column;
  }
  .btn-container .btn-custom{
    margin-bottom: 10px;
    border-radius: 0px;
  }
}
