<div class="review-container my-3 p-4 rounded-3 shadow">
    <div class="row g-3">
        <div class="col-sm-2 col-12 d-flex flex-column align-items-center">
            <img src="{{imageUrl}}" class="round-picture" style="width: 80px; height: 80px; object-fit: cover;">
            <span class="pupil-name">{{ pupilName }}</span>
            <span class="date-label text-muted">{{ date | date:'yyyy-MM-dd' }}</span>
        </div>

        <div class="col">
            <div class="rating-section d-flex align-items-center mb-2">
                <span class="rating-label me-2">Ocena</span>
                <img src="../../../assets/icons/star.png" class="star-icon">
                <span class="rating-value ms-2">{{ rate | number:'1.1-1' }}</span>
            </div>
            <p class="content text-muted">{{ content }}</p>
        </div>
    </div>  
</div>
