.review-container {
    background: linear-gradient(135deg, #e3eff9 0%, #f8f9fa 100%); /* Subtelny gradient */
    border-radius: 10px; /* Zaokrąglenie rogów */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Cień dla kontenera */
    transition: transform 0.3s ease; /* Animacja dla efektu najechania */
  }
  
  .review-container:hover {
    transform: translateY(-5px); /* Unoszenie się kontenera przy najechaniu */
  }
  
  .round-picture {
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Cień dla zdjęcia profilowego */
  }
  
  .star-icon {
    width: 30px;
  }
  

  

  
  .pupil-name {
    font-weight: bold;
  }
  
  .date-label {
    font-size: 0.9rem;
  }
  
  .rating-value {
    font-weight: bold;
  }
  
  .content {
    color: #333; /* Zmiana koloru tekstu */
  }
  