
<div class="container-fluid">


    <div class="row bg-secondary rounded-div shadow mt-3">
        <div class="col-12 bg-primary rounded-top-3 py-2">
            <h1 class="text-center text-white">Moje posiłki</h1>
        </div>
    </div>
    <div class="row bg-secondary d-flex justify-content-center search">
        <div class="col-12 col-md-6">
    <input type="text" class="form-control mb-3 fs-5 w-100 mt-3" placeholder="Szukaj posiłku..." [(ngModel)]="searchTerm" (input)="filterResults()">
    </div>
    </div>

    <div class="row bg-secondary shadow head fs-5 py-2 ps-0 pe-1">
        <span class="col-xl-5 fw-bold d-flex justify-content-center justify-content-xl-start">Nazwa</span>
        <span class="col-xl-2 fw-bold d-flex justify-content-center">Edytuj</span>
        <span class="col-xl-2 fw-bold d-flex justify-content-center">Usuń</span>
        <span class="col-xl-3 fw-bold d-flex justify-content-center">Szczegóły</span>
        </div>
        <div class="row bg-secondary rounded-bottom-3 shadow details fs-5 px-2">
            <ng-container *ngFor="let meal of DieteticianMealsFiltered">
                <span class="col-xl-5 mb-xl-3 ps-2 d-flex align-items-center first">{{meal.name}}</span>
        
        
                <div class="col-xl-2 d-flex align-items-center justify-content-center mb-xl-3 icon-container" [routerLink]="['/meals/edit',meal.idMeal]">
                        <i  class="fas fa-edit" style="color: black;"></i>
                </div>
        
                <div class="col-xl-2 d-flex align-items-center justify-content-center mb-xl-3 icon-container" (click)="openDeleteDialog(meal.idMeal)" id="edit-icon">
                        <i class="fas fa-trash-alt" style="color: black;"></i>
            </div>
            <div class="col-xl-3 d-flex align-items-center justify-content-center last mb-xl-3 icon-container" [routerLink]="['/meals/details',meal.idMeal]">
                        <i class="fas fa-info-circle" style="color: black;"></i>
            </div>
    
            </ng-container>
            <p *ngIf="!DieteticianMeals || DieteticianMeals.length <=0">Nie znaleziono żadnych posiłków</p>
            <div class="d-flex justify-content-center mt-3">
            <button routerLink="/meals/add" class="btn-confirm" style="width: fit-content;">Stwórz nowy posiłek</button>
        </div>
        </div>

        <div class="dialog-container" *ngIf="this.showDialog" >
            <div class="dialog">
                <p class="dialog-header">Czy na pewno chcesz usunąć posiłek: {{selectedMeal?.name}}?</p>
                <p class="dialog-body">Spowoduje to usunięcie go również z diet do których jest przypisany!</p>
                <div class="dialog-actions">
                    <button type="button" class="btn-primary" id="deleteDialogButtonCancel" (click)="cancelDelete()">Anuluj</button>
                    <button type="button" class="btn-alert" id="deleteDialogButtonYes" (click)="confirmDelete()">Usuń</button>
                </div>
                <p class="validation-error" *ngIf="deleteErrorFlag">Nie udało się usunąć posiłku</p>
            </div>
        
        </div>

</div>  


