.exercise-button{
    width: 180px;
    height: 60px;
    background-color: #D9D9D9;
    border: 1px solid #A6A6A6;
    border-radius: 10px;
    font-weight: bold;
    margin-right: 10px;
    font-size: 16px;
    margin-top: 20px;

}

.selected-all-my{
    background-color: #3244A0;
    color: white;
}

.search-icon{
    height: 24px;
    width: 24px;
  }

.filter-input{
    font-size: 26px;
    background-color: #D9D9D9;
    border: none;
    height: 40px;
    width: 40%;
    border-radius: 5px;
}

.filter-button{
    border: none;
    margin-top: 20px;
  
    margin-right: 10px;
}

.button-create{
    margin: 10px 0px;
    font-size: 16px;
    padding: 5px 10px ;
    background-color: #52CE50;
    color:black;
    border: 1px solid #A6A6A6;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 20%;

}

.create-exercise-link{
    text-decoration: none;

}

table {
    border: 0; 
    border-collapse: separate; 
    border-spacing: 0 5px;
    width: 90%;
    flex: content;
    margin-left: auto;
    margin-right: auto;
    
    

  }
  
thead tr th {
    border-bottom: 1px solid #A6A6A6; 
    border-collapse: separate; 
    border-spacing: 5px 5px;
    padding: 10px;
  } 
  
td ,th{
    text-align: center;
  }
  
th{
    font-size: 18px;
    
}


td{
    background-color: #FAFAFA;
    font-size: 16px;
    padding: 5px;
    
}

.table-head-small{
    width: 15%;
}

  .container-table{
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #D9D9D9;
    width: 90%;
    padding-bottom: 10px;
}

a{
    text-decoration: inherit;
    color: inherit;
}

#edit-icon{
    height: 20px;
    width: 20px;
}