<div class="container">
    <a (click)="back()"class="btn-primary" ><i class="bi bi-arrow-left"></i> Powrót</a>
    <div class="container-top">
        <div class="col-6">
            <form #form="ngForm" >
                <div >
                    
                    <button class="filter-button" type="button" (click)="filterResults(filter.value)">
                        <img src="../../../../assets/icons/search.png" class="search-icon">
                    </button>
                    
                    <input class="filter-input" type="text" placeholder=" Wyszukaj posiłek" #filter>
                </div>

                
            </form>
        </div>
        <a routerLink="/meals/add" class="create-exercise-link">
            <span class="button-create">Stwórz nowy posiłek +</span> </a>
    </div>

    <div class="container-table rounded-div shadow">
        <table class="table"  *ngIf="DieteticianMeals">
            <thead>
                <tr>
                    <th class="table-head-big">Nazwa</th>
                    <th class="table-head-small" *ngIf="id_diet!=undefined">Dodaj do planu</th>
                    <th class="table-head-small">Edycja</th>
                    <th class="table-head-small">Usuń</th>
                    <th class="table-head-small">Szczegóły</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let meal of DieteticianMealsFiltered">
                    <td>{{meal.name}}</td>
                    <td *ngIf="id_diet!=undefined"><a routerLink="/training-exercise/add" [queryParams]="{mealId:meal.idMeal,dietId:id_diet}">[+]</a></td>
                    <td><a [routerLink]="['/meals/edit',meal.idMeal]"><img src="../../../../assets/icons/edit.png" id="edit-icon"></a></td>
                    <td ><img (click)="openDeleteDialog()" src="../../../../assets/icons/delete.png" id="edit-icon"></td>

                    <td><a [routerLink]="['/meals/details',meal.idMeal]"><img src="../../../../assets/icons/details.png" id="edit-icon"></a></td>

                    <div class="dialog-container" *ngIf="this.deleteDialogFlag" >
                        <div class="dialog">
                            <p class="dialog-header">Czy na pewno chcesz usunąć posiłek: {{meal.name}}?</p>
                            <p class="dialog-body">Spowoduje to usunięcie go również z diet do których jest przypisany!</p>
                            <div class="dialog-actions">
                                <button type="button" class="btn-primary" id="deleteDialogButtonCancel" (click)="cancelDelete()">Anuluj</button>
                                <button type="button" class="btn-alert" id="deleteDialogButtonYes" (click)="deleteMeal(meal.idMeal)">Usuń</button>
                            </div>
                            <p class="validation-error" *ngIf="deleteErrorFlag">Nie udało się usunąć posiłku</p>
                        </div>
                    
                    </div>
                    
                </tr>
            </tbody>
        </table>
        <p *ngIf="!DieteticianMeals || DieteticianMeals.length <=0">Nie znaleziono żadnych posiłków</p>
        
    </div>
    
</div>