<ng-container *ngIf="error">
    <h1 class="text-center mt-5">Brak siłownii o podanym id</h1>
    </ng-container>

    <div class="dialog-container" *ngIf="showDialog">
        <div class="dialog">
          <h3 class="dialog-header">Potwierdzenie usunięcia</h3>
          <div class="dialog-body">
          <span>Czy na pewno chcesz usunąć siłownię?</span>
          <br>
          <span>Nazwa: <strong>{{gym?.name}}</strong></span>
          <br>
            <span>Miasto: <strong>{{gym?.city}}</strong></span>
            <br>
            <span>Ulica: <strong>{{gym?.street}}</strong></span>
        </div>
          <div class="dialog-actions">
            <button class="btn-primary" (click)="cancelDelete()">Anuluj</button>
            <button class="btn-alert" (click)="confirmDelete()">Usuń</button>
          </div>
        </div>
      </div>

<ng-container *ngIf="gym">
    <div class="container-fluid bg-secondary my-3 h-auto rounded-3 pb-0 pb-4" style="border:2px solid black;">
          <div *ngIf="successFlag=='error'" class="error-popup">
            Wystapił błąd podczas weryfikacji siłowni. Proszę spróbować ponownie.
          </div>
        <div class="row">
            <form #profileForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="col-12 mb-2 mt-1">
                <h1 class="text-center">Weryfikacja siłowni</h1>
            </div>
    
            <div class="col-12 group-admin-input">
                    <label for="name">Nazwa siłowni *</label>
                    <input id="name" type="text" [(ngModel)]="gym.name" name="name" #name="ngModel" required maxlength="100">
                    <div class="error-container">
                        <span *ngIf="name.touched && name.errors?.['required']" class="validation-error">
                            Nazwa siłowni jest wymagana.
                        </span>
                        <span *ngIf="name.touched && name.errors?.['maxlength']" class="validation-error">
                            Nazwa siłowni może zawierać maksymalnie 100 znaków.
                        </span>
                        <span *ngIf="fieldErrors['Name']" class="validation-error">
                            {{ fieldErrors['Name'][0] }}
                        </span>
                    </div>
                </div>
            
            <div class="col-12 group-admin-input">
                    <label for="city">Miasto *</label>
                    <input id="city" type="text" [(ngModel)]="gym.city" name="city" #city="ngModel" required maxlength="85">
                    <div class="error-container">
                        <span *ngIf="city.touched && city.errors?.['required']" class="validation-error">
                            Nazwa miasta jest wymagana.
                        </span>
                        <span *ngIf="city.touched && city.errors?.['maxlength']" class="validation-error">
                            Nazwa miasta może zawierać maksymalnie 85 znaków.
                        </span>
                        <span *ngIf="fieldErrors['City']" class="validation-error">
                            {{ fieldErrors['City'][0] }}
                        </span>
                    </div>
                </div>
            
            <div class="col-12 group-admin-input">
                    <label for="street">Ulica *</label>
                    <input id="street" type="text" [(ngModel)]="gym.street" name="street" #street="ngModel" required maxlength="120">
                    <div class="error-container">
                        <span *ngIf="street.touched && street.errors?.['required']" class="validation-error">
                            Nazwa ulicy jest wymagana.
                        </span>
                        <span *ngIf="street.touched && street.errors?.['maxlength']" class="validation-error">
                            Nazwa ulicy może zawierać maksymalnie 120 znaków.
                        </span>
                        <span *ngIf="fieldErrors['Street']" class="validation-error">
                            {{ fieldErrors['Street'][0] }}
                        </span>
                    </div>
                </div>
            
            <div class="col-12 group-admin-input">
                    <label for="postalCode">Kod pocztowy *</label>
                    <input id="postalCode" type="text" [(ngModel)]="gym.postalCode" name="postalCode" #postalCode="ngModel" required pattern="^\d{2}-\d{3}$">
                    <div class="error-container">
                        <span *ngIf="postalCode.touched && postalCode.errors?.['required']" class="validation-error">
                            Kod pocztowy jest wymagany.
                        </span>
                        <span *ngIf="postalCode.touched && postalCode.errors?.['pattern']" class="validation-error">
                            Nieprawidłowy format kodu pocztowego. Poprawny format to XX-XXX.
                        </span>
                        <span *ngIf="fieldErrors['PostalCode']" class="validation-error">
                            {{ fieldErrors['PostalCode'][0] }}
                        </span>
                    </div>
                </div>
            
            
    
            <div class="col-12 d-flex justify-content-center mt-4">
                <div class="d-flex justify-content-between buttons gap-3 flex-column flex-lg-row">
                    <button type="button" class="btn-primary" routerLink="/admin/gym/list/Pending">Powrót</button>
                    <button type="submit" class="btn-confirm">Zaakceptuj prośbę</button>
                    <button type="button" class="btn-alert" (click)="deleteGym()">Usuń prośbę</button>
                </div>
            </div>
           
    
        </form>
    
    </div>
</div>
</ng-container>
    