*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F5F5;
}
body, html{
    width: 100%;
    height: 100%;
}

.active{
    background: #3244A0;
}

.bg-primary{
    background-color: #0F1A50 !important;
}

.color-primary{
  color:#0F1A50 ;
}

.bg-secondary{
    background-color:#D9D9D9 !important;
}

.rounded-div{
  border: 1px solid #A6A6A6;
    border-radius: 10px;
}


.bg-button{
    background-color:#3244A0;
}

.bg-btn-orange{
    background-color: #FF8A00;
}

.container-fluid {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px; /* Wysokość stopki */
}

.validation-error{
    color: red;
    
}

app-root {
    flex: 1;
}

.mh1000{
    max-height: 1000px;
}
.mw1500{
    max-width:1500px;
}




.vertical-line{
    background: linear-gradient(to right, 
	                              transparent 0%, 
	                              transparent calc(50% - 0.81px), 
	                              black calc(50% - 0.8px), 
	                              black calc(50% + 0.8px), 
	                              transparent calc(50% + 0.81px), 
	                              transparent 100%); 
}

.horizontal-line {
    background: linear-gradient(to bottom, 
                                transparent 0%, 
                                transparent calc(50% - 0.81px), 
                                white calc(50% - 0.8px), 
                                white calc(50% + 0.8px), 
                                transparent calc(50% + 0.81px), 
                                transparent 100%);
}

.horizontal-line-black {
    background: linear-gradient(to bottom, 
                                transparent 0%, 
                                transparent calc(50% - 0.81px), 
                                black calc(50% - 0.8px), 
                                black calc(50% + 0.8px), 
                                transparent calc(50% + 0.81px), 
                                transparent 100%);
}

.round-picture{
    clip-path: circle(50%); 
    object-fit: cover;
}

.form-input{
    height: 30px;
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 5px;
}

.form-label-custom{
    font-weight: bold;
}

.deleteDialog{
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 25px;
}

.deleteDialogButton {
    gap: 10px;
    margin-left: 30px;
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    width: 80px;
    height: 40px;
    font-size: 22px;
    background-color: #3244A0;
    color: white;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}





/*admin*/

.btn-custom {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px; 
    margin-right: 5px; 
    font-size: 18px;
  }
  
  .btn-detail {
    background-color: #3244A0;
    color: white;
  }
  
  .btn-edit {
    background-color: #00970a; 
    color: white; 
  }
  
  .btn-delete {
    background-color: #F44336; 
    color: white; 
  }

  .btn-back {
    background-color: #4c65e2; 
    color: white; 
  }


  
  .btn-back:hover {
    background-color: #00157d; 
  }
  .btn-custom:hover {
    opacity: 0.8; 
  }
  
  .btn-detail:hover {
    background-color: #0004ff; 
  }
  
  .btn-edit:hover {
    background-color: #55c400;
  }
  
  .btn-delete:hover {
    background-color: #d73829;
  }

  .btn-orange{
    background-color: #FF8A00;
    border: 1px solid black;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



/*admin*/

.dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

.dialog {
    background-color: white;
    margin-left: 10%;
    border-radius: 10px;
    border: 1px solid black;
  }
  .dialog-header{
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
  }
  
  .dialog-body{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
  }


  .group-admin-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-admin-input label {
    padding-left: 2px;
    font-size: 20px;
    color: black;
    width: 60%;
}

.group-admin-input input, textarea{
    width: 60%;
    padding: 8px;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid #000;
}

.group-admin-input input:disabled{
    background-color: white;
    color: black;
}




.group-admin-long-text label{
    padding-left: 2px;
    font-size: 20px;
    color: black;
    width: 60%;
}
.group-admin-long-text div{
    width: 60%;
    padding: 8px;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid #000;
    background-color: white;
    cursor: default;
}

.group-admin-long-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.error-popup {
    position: fixed;
    top: 20px; 
    left: 40%;
    background-color: red; 
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1000;
  }

  .success-popup {
    position: fixed; 
    top: 20px; 
    left: 47%;
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1000;
  }

  .error-container{
    height: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
  }

  .table-admin thead th {
    padding: 12px 15px; 
    text-align: left; 
    color: white; 
    background-color: #0F1A50;
}
  .table-admin thead tr{
    border-radius: 10px 10px 0px 0px;
  }
  .table-admin th, .table-admin td {
    word-break: break-all; 
    border: 1px solid black;
}





@media (max-width: 1200px) {
  .table-admin {
      border: 0;
  }

  .table-admin thead {
      display: none;
  }

  .table-admin, .table-admin tbody, .table-admin tr, .table-admin td {
      display: block;
      width: 100%;
  }

  .table-admin tr {
      margin-bottom: 15px;
  }

  .table-admin td {
      text-align: center;
  }

  .table-admin td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: bold;
      text-align: left;
  }
}

@media (max-width: 370px) {
  .table-admin .btn-container{
    display: flex;
    flex-direction: column;
  }
  .table-admin .btn-container .btn-custom{
    margin-bottom: 10px;
    border-radius: 0px;
  }
}





.btn-primary{
  padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #0051ff; 
    color: white; 
    border: none; 
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem; 
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    font-size: 18px;
}


.btn-confirm{
  padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #00bd16; 
    color: white; 
    border: none; 
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem; 
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    font-size: 18px;
}

.btn-alert{
  padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #ff0000; 
    color: white; 
    border: none; 
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem; 
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    font-size: 18px;

}



.rounded-div{
  border: 1px solid #A6A6A6;
    border-radius: 10px;
}