.border-profile {
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}


.group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    padding-left: 2px;
    font-size: 20px;
    color: black;
    width: 80%;
}

input, textarea{
    width: 80%;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}


input:disabled, textarea:disabled {
    background-color: white;
    color: black;
}

textarea{
width: 90%;
}

a{
    width: auto;
    
}

.add-gym-button{
    height:47px; 
    width: 140px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding:10px;
  }


  
  .info-icon {
    cursor: pointer;
    margin-left: 5px;
    position: relative;
    z-index: 1; 
  }
  
  .info-tooltip {
    visibility: hidden;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    position: absolute;
    top: 0;
    left: 100%;
    width: 250px;
  }
  
  .info-icon:hover + .info-tooltip {
    visibility: visible;
    opacity: 1;
  }

  .table thead{
    border: 1px solid black;
  }

  .table tr{
    border: 1px solid black;
  }
  .table th, .table td {
    width: 50%;
    word-break: break-all; 
}
  
  