<ng-container *ngIf="user">


<div class="container-fluid">
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-12 bg-primary rounded-top-5">
            <h1 class="fw-bold text-white text-center">Profil użytkownika</h1>
        </div>
    </div>



    
    <div class="row p-2 bg-secondary shadow rounded-div rounded-bottom-3 rounded-top-0" >
        <div class="col-12 d-flex justify-content-between">
            <button class="btn-primary" [routerLink]="'/myProfile/edit'">Edytuj profil</button>
            <ng-container *ngIf="role=='Dietician'||role=='Trainer'|| role=='Dietician-Trainer'">
                <span class="fs-5 fw-bold" *ngIf="user.isAccepted==false">Status konta: <span class="text-danger">Niezweryfikowane</span></span>
                <span class="fs-5 fw-bold" *ngIf="user.isAccepted==true">Status konta: <span style="color: green;">Zweryfikowane</span></span>
            </ng-container>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <img src="{{imageUrl}}" width="300px" height="300px" class="round-picture">
        </div>
        
        <div class="col-12" [ngSwitch]="role">
            <h2 class="text-center" *ngSwitchCase="'Trainer'">Trener</h2>
            <h2 class="text-center" *ngSwitchCase="'Dietician'">Dietetyk</h2>
            <h2 class="text-center" *ngSwitchCase="'Dietician-Trainer'">Dietetyk i trener</h2>
            <h2 class="text-center" *ngSwitchCase="'Pupil'">Podopieczny</h2>
        </div>

        <div class="col-12 mt-3">
        <h2>Podstawowe informacje</h2>
        </div>
        <div class="col-12 horizontal-line-black mb-3" style="height: 1px;"></div>

        <div class="col-6 group">
            <label>Imie</label>
            <input type="text" value="{{user.name}}" disabled>
        </div>

        <div class="col-6 group">
            <label>Nazwisko</label>
            <input type="text" value="{{user.lastName}}" disabled>
        </div>

        <div class="col-6 group">
            <label>Email</label>
            <input type="text" value="{{user.email}}" disabled>
        </div>

        <div class="col-6 group" *ngIf="role=='Dietician'||role=='Trainer'|| role=='Dietician-Trainer'">
            <label>Numer Telefonu</label>
            <input type="text" value="{{user.phoneNumber}}" disabled>
        </div>

        <div class="col-6 group">
            <label>Status weryfikacji Emaila</label>
            <input *ngIf="user.emailValidated==false" type="text" value="Niezweryfikowany" disabled>
            <input *ngIf="user.emailValidated==true" type="text" value="Zweryfikowany" disabled>
        </div>


        <ng-container *ngIf="role=='Pupil'">
        <div class="col-12 mt-3">
            <h2>Informacje fizyczne</h2>
            </div>
            <div class="col-12 horizontal-line-black mb-3" style="height: 1px;"></div>


            
                <div class="col-6 group">
                    <label>Waga</label>
                    <input type="number" [value]="user.weight" disabled>
                </div>
            
            
    
            <div class="col-6 group">
                <label>Wzrost</label>
                <input type="number" value="{{user.height}}" disabled>
            </div>
    
            <div class="col-6 group">
                <label>Data urodzenia</label>
                <input type="date" value="{{user.dateOfBirth | date:'yyyy-MM-dd'}}" disabled>
            </div>

    
            <div class="col-6 group">
                <label>Płeć</label>
                <input type="text" value="{{user.sex}}" disabled>
            </div>
        </ng-container>



        <ng-container *ngIf="role=='Trainer' || role=='Dietician-Trainer' || role=='Dietician'">
        <div class="col-12 mt-3">
            <h2>Cennik</h2>
            </div>
        <div class="col-12 horizontal-line-black mb-3" style="height: 1px;"></div>
        </ng-container> 

        <ng-container *ngIf="role=='Trainer' || role=='Dietician-Trainer'">
        <div class="col-6 group">
            <label>Maksymalny koszt planu treningowego(zł)</label>
            <input type="number" value="{{user.trainingPlanPriceFrom}}" disabled>
        </div>

    <div class="col-6 group">
        <label>Minimalny koszt planu treningowego(zł)</label>
        <input type="number" value="{{user.trainingPlanPriceTo}}" disabled>
    </div>


    <div class="col-6 group">
        <label>Minimalny koszt treningu personalnego(zł)</label>
        <input type="number" value="{{user.personalTrainingPriceFrom}}" disabled>
    </div>

    <div class="col-6 group">
        <label>Maksymalny koszt treningu personalnego(zł)</label>
        <input type="number" value="{{user.personalTrainingPriceTo}}" disabled>
    </div>
        </ng-container>

        <ng-container *ngIf="role=='Dietician' || role=='Dietician-Trainer'">
            <div class="col-6 group">
                <label>Minimalny koszt diety(zł)</label>
                <input type="number" value="{{user.dietPriceFrom}}" disabled>
            </div>
    
        <div class="col-6 group">
            <label>Maksymalny koszt diety(zł)</label>
            <input type="number" value="{{user.dietPriceTo}}" disabled>
        </div>
    
            </ng-container>


        <ng-container *ngIf="role=='Trainer' || role=='Dietician-Trainer'">

    <div class="col-12 mt-3">
        <h2>Moje siłownie</h2>
        </div>
    <div class="col-12 horizontal-line-black mb-3" style="height: 1px;"></div>
    
    <ng-container *ngIf="user.trainerGyms && user.trainerGyms.length > 0; else noGymsTemplate">
        <table class="table table-striped" style="max-width: 100%;">
            <thead>
                <tr>
                    <th scope="col">Miasto</th>
                    <th scope="col">Nazwa siłowni</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let gym of user.trainerGyms">
                    <td>{{gym.cityName}}</td>
                    <td>{{gym.name}}</td>
            </tbody>
        </table>
      </ng-container>

      <ng-template #noGymsTemplate>
        <div class="col-12">
          <span class="fs-4" style="margin-left: 5%;">Nie dodałeś jeszcze żadnych siłownii do swojego profilu</span>
        </div>
      </ng-template>
      

      <div class="col-12 d-flex justify-content-center mt-3 ms-3">
            <button class="btn-primary" [routerLink]="'/createGym'">Dodaj siłownie do bazy</button>
            <div style="position: relative;">
            <i class="bi bi-info-circle-fill info-icon"></i>
            <div class="info-tooltip">
                Nie ma Twojej siłowni na naszym portalu? Dodaj ją tutaj!
          </div>
          </div>
      </div>
      

        </ng-container>

        
    

            <div class="col-12 mt-3">
                <h2>Informacje dodatkowe</h2>
                </div>
                <div class="col-12 horizontal-line-black mb-3" style="height: 1px;"></div>

                <div class="col-12 d-flex flex-column align-items-center">
                <label style="width: 90%;">O mnie</label>
                <textarea  rows="4" disabled>{{user.bio}}</textarea>
            </div>


            <ng-container *ngIf="role=='Trainer' || role=='Dietician-Trainer' || role=='Dietician'">
                <div class="col-12 mt-3">
                    <h2>Moje certyfikaty</h2>
                    </div>
                    <div class="col-12 horizontal-line-black mb-3" style="height: 1px;"></div>
                    

                    <ng-container *ngIf="user.certificates && user.certificates.length > 0; else noCertificatesTemplate">
                        <table class="table table-striped" style="max-width: 100%;">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 40%;">Data dodania</th>
                                    <th scope="col" style="width: 40%;">Akcje</th>
                                    <th scope="col" style="width: 20%;">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let certificate of user.certificates">
                                    <td>{{ certificate.addedDate | date:'yyyy-MM-dd' }}</td>
                                    <td>
                                        <a *ngIf="certificate.pdfUrl" href="{{certificate.pdfUrl}}" download="Certificate_{{certificate.addedDate | date:'yyyy-MM-dd'}}.pdf">
                                            Pobierz
                                        </a>
                                    </td>
                                    <ng-container *ngIf="certificate.isAccepted == true">
                                        <td><i class="bi bi-check-circle-fill" style="color: green;"></i></td>
                                    </ng-container>
                                    <ng-container *ngIf="certificate.isAccepted == false">
                                        <td><i class="bi bi-question-circle-fill"></i></td>
                                    </ng-container>
                            </tbody>
                        </table>
                      </ng-container>
                
                      <ng-template #noCertificatesTemplate>
                        <div class="col-12">
                          <span class="fs-4" style="margin-left: 5%;">Nie dodałeś jeszcze certyfikatu lub twój certyfikat został odrzucony.</span>
                        </div>
                      </ng-template>

                      <div class="col-12 d-flex justify-content-center">
                        <button class="btn-primary" [routerLink]="'/addCertificate'">Dodaj certyfikat</button>
                      </div>
                      </ng-container>




    </div>

</div>

</ng-container>