<div class="container-fluid">
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-12 bg-primary rounded-top-5">
            <h1 class="fw-bold text-white text-center">Profil użytkownika</h1>
        </div>
    </div>



    
    <div class="row p-2 bg-secondary border-profile rounded-bottom-3" >
        <div class="col-12">
            <a class="bg-btn-orange px-2 py-1 rounded-3 text-decoration-none text-white fs-4" style="cursor: pointer;">Edytuj Profil</a>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <img src="/assets/images/diho4.png" width="300px" height="300px" class="round-picture">
        </div>
        <div class="col-12"><h2 class="text-center">Podopieczny</h2></div>

        <div class="col-12 mt-3">
        <h2>Podstawowe informacje</h2>
        </div>
        <div class="col-12 horizontal-line-black mb-3" style="height: 1px;"></div>

        <div class="col-6 group">
            <label>Imie</label>
            <input type="text" value="Cristiano" disabled>
        </div>

        <div class="col-6 group">
            <label>Nazwisko</label>
            <input type="text" value="Starzyk" disabled>
        </div>

        <div class="col-6 group">
            <label>Email</label>
            <input type="text" value="cristiano@pjwstk.edu.pl" disabled>
        </div>

        <div class="col-6 group">
            <label>Numer Telefonu</label>
            <input type="text" value="765 453 234" disabled>
        </div>

        <div class="col-6 group">
            <label>Status weryfikacji Emaila</label>
            <input type="text" value="Zweryfikowany" disabled>
        </div>

        <div class="col-12 mt-3">
            <h2>Informacje fizyczne</h2>
            </div>
            <div class="col-12 horizontal-line-black mb-3" style="height: 1px;"></div>

            <div class="col-6 group">
                <label>Waga</label>
                <input type="number" value="100" disabled>
            </div>
    
            <div class="col-6 group">
                <label>Wzrost</label>
                <input type="number" value="168" disabled>
            </div>
    
            <div class="col-6 group">
                <label>Data urodzenia</label>
                <input type="date" disabled>
            </div>
    
            <div class="col-6 group">
                <label>Numer Telefonu</label>
                <input type="text" value="765 453 234" disabled>
            </div>
    

            <div class="col-12 mt-3">
                <h2>Informacje dodatkowe</h2>
                </div>
                <div class="col-12 horizontal-line-black mb-3" style="height: 1px;"></div>

                <div class="col-12 d-flex flex-column align-items-center">
                <label style="width: 90%;">O mnie</label>
                <textarea  rows="4" disabled>Adam Kowalski urodził się 2 maja 1985 roku w Krakowie. Już jako młody chłopak wykazywał wyjątkowy talent do piłki nożnej, co zaowocowało dołączeniem do lokalnej drużyny juniorów w wieku 12 lat. W wieku 16 lat został zauważony przez skautów z prestiżowego klubu piłkarskiego, Legii Warszawa, gdzie rozpoczął swoją profesjonalną karierę.

                    W 2007 roku, po imponującym sezonie, w którym zdobył tytuł króla strzelców, Adam został powołany do reprezentacji Polski. Jego debiutancki mecz miał miejsce w marcu 2008 roku i od tamtej pory stał się kluczowym graczem narodowej drużyny. W 2012 roku, podczas Mistrzostw Europy, zdobył decydującego gola, który zapewnił Polsce miejsce w ćwierćfinale - najwyższe w historii.
                    
                    Jego kariera klubowa obejmowała także gry dla kilku międzynarodowych klubów, w tym AC Milan i FC Barcelona, gdzie zdobywał liczne trofea, w tym Ligę Mistrzów. Po powrocie do Polski w 2018 roku, Kowalski pomógł Legii Warszawa zdobyć kolejne mistrzostwo kraju.
                    
                    Poza boiskiem, Adam zaangażował się w działalność charytatywną, szczególnie w pomoc młodym sportowcom z ubogich rodzin. Zakończył swoją aktywną karierę sportową w 2020 roku, ale nadal jest aktywny w świecie sportu jako trener i komentator. Jego życie i kariera stanowią inspirację dla wielu młodych piłkarzy w Polsce i na całym świecie.</textarea>
            </div>


    </div>

</div>