<div class="search-options-container">
    <div class="option-container">
<app-dropdown-select-dietetician [inputLabel]="'Miasto'" [options]="['New York', 'Los Angeles', 'Chicago', 'Houston', 'Miami', 'San Francisco', 'Seattle']"></app-dropdown-select-dietetician>
    </div>
    <div class="option-container">
<app-dropdown-select-dietetician [inputLabel]="'Dzielnica'" [options]="['Brooklyn', 'Queens', 'Manhattan', 'Bronx', 'Staten Island', 'Harlem', 'Astoria']"></app-dropdown-select-dietetician>
    </div>
    <div class="line">
    </div>
<div class="option-container">
<app-dropdown-select-dietetician [inputLabel]="'Sortuj po'" [options]="['cena','odleglosc']"></app-dropdown-select-dietetician>
</div>
    <button>Szukaj</button>
</div>