.container{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.container-head, .container-body{
background-color: #D9D9D9;
border: 1px solid #A6A6A6;
border-radius: 10px 10px 10px 10px;
width: 80%;
}

.container-head{
text-align: center;
padding:20px;

}

.container-body{
    margin-top: 1%;
    text-align: center;
}

h3{
    padding-bottom: 1%;
    font-size: 38px;
}

table {
    border: 0; 
    border-collapse: separate; 
    border-spacing: 0 5px;
    width: 100%;
  }
  
thead tr th {
    border-bottom: 1px solid #A6A6A6;
    border-collapse: separate; 
    border-spacing: 5px 5px;
    padding: 10px;
  } 
  
td ,th{
    text-align: center;
  }
  
th{
    font-size: 22px;
}


td{
    background-color: #FAFAFA;
    font-size: 20px;
    padding: 5px;
  }

a{
    color: inherit; 
    text-decoration: inherit; 
  }

.search-icon{
    height: 24px;
    width: 24px;
  }

.filter-input{
    font-size: 24px;
    background-color: #D9D9D9;
    border: none;
    height: 30px;
}

.filter-button{
    border: none;
    background-color: #D9D9D9;
    padding-left: 70px;
    margin-left: 10px;
    margin-right: 10px;
}

.new-plan-link{
    background-color: #FAFAFA;
    width: 180px;
    height: 60px;
    font-size: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px 10px 10px 10px;
}

.no-plans-message{
    background-color: #FAFAFA;
    font-size: 22px;
    padding: 5px;
    margin-top: 10px;
}


