.days span{
  cursor: pointer;
}  
.days{
  border: 1px solid #A6A6A6;
}
.selected-day{
  color:#3244A0;
  background-color:#FAFAFA;
  border-radius: 10px;
}
.head{
  border-right: 1px solid #A6A6A6;
  border-left: 1px solid #A6A6A6;
  border-bottom: 1px solid #A6A6A6;
}

.details{
  border: 1px solid #A6A6A6;
  border-top: none;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

.details span{
  background-color: whitesmoke;
  padding-top: 5px;
  padding-bottom: 5px;
}

.first{
  border-radius: 10px 0 0 10px;
}
.last{
  border-radius: 0 10px 10px 0;
}

.search{
  border-left: 1px solid #A6A6A6;
  border-right: 1px solid #A6A6A6;
}

@media (max-width: 991px) {
  .first{
      border-radius: 10px 10px 0 0;
  }
  .last{
      border-radius: 0 0 10px 10px;
  }
  .details span{
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #A6A6A6;
  }
}













