<div class="container-fluid" *ngIf="pupil">
    <div class="my-3">
        <a class="btn-primary" (click)="back()">
            <i class="bi bi-arrow-left"></i> Powrót
        </a>
    </div>

    <div class="row bg-secondary rounded-div d-flex align-items-center py-4 px-2  mb-3 shadow">
        <div class="col-lg-2 col-md-6 col-12 d-flex justify-content-center align-items-center">
            <img width="140px" height="140px" src="{{imageUrl}}" class="round-picture">
        </div>
        
        <div class="col-lg-4 col-md-6 col-12 d-flex flex-column align-items-center align-items-lg-start">
            <span class="fs-2">{{ pupil.name + ' ' + pupil.lastName}}</span>
            <span class="fs-2">Podopieczny</span>
        </div>
        
        <div class="col-lg-1 d-none d-lg-block vertical-line" style="height:90%;"></div>
        <div class="horizontal-line-black d-lg-none py-5" style="height: 2px;"></div>
  
        <div class="col-lg-5 d-flex flex-column align-items-center align-items-lg-start">
            <span class="fs-4"><strong>Dane kontaktowe:</strong></span>
            <span class="fs-4"><i class="fas fa-envelope me-2"></i>{{ pupil.email }}</span>
        </div>
    </div>

    <div class="row bg-secondary rounded-div shadow">
        <div class="d-flex flex-lg-row flex-column align-items-center justify-content-center py-3">
            
            
            <div class="info-box">
                <i class="fas fa-birthday-cake fa-2x"></i>
                <div class="info-text">
                    <span class="fs-5">Wiek: </span>
                    <span>{{ calculateAge(pupil.dateOfBirth) ?? '-' }}</span>
                </div>
            </div>
            
           
            <div class="info-box">
                <i *ngIf="pupil.sex=='Kobieta'" class="fas fa-venus fa-2x"></i>
                <i *ngIf="pupil.sex=='Mężczyzna'" class="fas fa-mars fa-2x"></i>  
                <i *ngIf="pupil.sex=='' || pupil.sex==null" class="fas fa-mars fa-2x"></i>  
                
                <div class="info-text">
                    <span class="fs-5">Płeć: </span>
                    <span>{{ pupil.sex ?? '-'}}</span>
                </div>
            </div>
            
            
            <div class="info-box">
                <i class="fas fa-ruler-vertical fa-2x"></i>
                <div class="info-text">
                    <span class="fs-5">Wzrost: </span>
                    <span>{{ pupil.height ?? '-'}} cm</span>
                </div>
            </div>
            
        
            <div class="info-box">
                <i class="fas fa-weight fa-2x"></i>
                <div class="info-text">
                    <span class="fs-5">Waga: </span>
                    <span>{{ pupil.weight ?? '-' }} kg</span>
                </div>
            </div>
        </div>
        
        
        <div *ngIf="pupil.bio" class="col-12 d-flex flex-column align-items-center justify-content-center py-3">
            <div class="info-box w-100">
                <i class="fas fa-align-left fa-2x"></i>
                <div class="description-text">
                    <span class="fs-5">O mnie:<br/></span>
                    <span>{{pupil.bio}}</span>
                </div>
            </div>
        </div>


    </div>
    
</div>
