.button-group .btn {
    margin-right: 0.5rem; /* Odstęp między przyciskami */
    padding: 0.5rem 1rem; /* Wewnętrzny odstęp przycisku */
}

.button-group .btn:last-child {
    margin-right: 0; /* Usuwa odstęp po prawej stronie dla ostatniego przycisku */
}

/* Styl dla przycisków */
.btn-custom {
    border-radius: 0.5rem; /* Zaokrąglone rogi przycisku */
    font-weight: bold; /* Pogrubiona czcionka */
    text-transform: uppercase; /* Wielkie litery */
    transition: background-color 0.3s, color 0.3s; /* Animacja dla zmiany koloru */
}

.btn-custom:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Cień podczas najechania kursorem */
}

.btn-edit {
    background-color: #28a745; /* Zielony kolor tła */
    color: #fff; /* Biały kolor tekstu */
}

.btn-delete {
    background-color: #dc3545; /* Czerwony kolor tła */
    color: #fff; /* Biały kolor tekstu */
}

.btn-detail {
    background-color: #17a2b8; /* Niebieski kolor tła */
    color: #fff; /* Biały kolor tekstu */
}
