.trainers-container{
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.list-container{
    display: flex;
    flex-direction: row;
    gap: 45px;
    width: 80vw;
    margin-bottom: 100px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}