<ng-container *ngIf="error">
    <div class="container-fluid mt-5">
        <h1 class="text-center mt-5">Brak siłownii o statusie {{status}}</h1>
    </div>
</ng-container>
<div *ngIf="!error" class="container-fluid mt-5">
    <app-menu-admin></app-menu-admin>
    <input type="text" class="form-control mb-3 fs-5" placeholder="Szukaj siłowni..." [(ngModel)]="searchTerm" (input)="filterGyms()">


    <ng-container *ngIf="!gyms?.length">
        <h1 *ngIf="status=='Pending'" class="text-center mt-5">Brak siłownii do zatwierdzenia</h1>
        <h1 *ngIf="status=='Active'" class="text-center mt-5">Brak siłownii</h1>
    </ng-container>


<div class="dialog-container" *ngIf="showDialog">
    <div class="dialog">
      <h3 class="dialog-header">Potwierdzenie usunięcia</h3>
      <div class="dialog-body">
      <span>Czy na pewno chcesz usunąć siłownię?</span>
      <br>
      <span>Nazwa: <strong>{{selectedGym?.name}}</strong></span>
      <br>
        <span>Miasto: <strong>{{selectedGym?.city}}</strong></span>
        <br>
        <span>Ulica: <strong>{{selectedGym?.street}}</strong></span>
    </div>
      <div class="dialog-actions">
        <button class="btn-primary" (click)="cancelDelete()">Anuluj</button>
        <button class="btn-alert" (click)="confirmDelete()">Usuń</button>
      </div>
    </div>
  </div>
  

  

<div *ngIf="gyms?.length">
    <table class="table-admin table table-striped table-responsive">
        <thead>
            <tr>
                <th scope="col" style="width: 20%;">Miasto</th>
                <th scope="col" style="width: 25%;">Nazwa siłowni</th>
                <th scope="col" style="width: 25%;">Ulica</th>
                <th scope="col" style="width: 30%;">Akcje</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let gym of filteredGyms">
                <td>{{ gym.city }}</td>
                <td>{{ gym.name }}</td>
                <td>{{ gym.street }}</td>
                <td>
                    <ng-container *ngIf="status === 'Active'">
                        <div class="d-flex justify-content-center flex-column flex-sm-row gap-2">
                            <button type="button" class="btn-primary" routerLink="/admin/gym/details/{{gym.idGym}}">Szczegóły</button>
                            <button type="button" class="btn-confirm" routerLink="/admin/gym/edit/{{gym.idGym}}">Edytuj</button>
                            <button type="button" class="btn-alert" (click)="deleteGym(gym.idGym)">Usuń</button>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="status === 'Pending'">
                        <button type="button" class="btn-primary" routerLink="/admin/gym/vetification/{{gym.idGym}}">Zweryfikuj</button>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
