
input{
    width: 100%;
    height: 50px;
    font-size: 20px;
    border-radius: 5px 5px 5px 5px;
}


.form-label{
    font-size: 16px;
    color: white;
    margin-bottom: 0px;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
   
}
.error-container{
    height: 10px;
}