<div class="container-fluid d-flex justify-content-center align-items-center mh1000 p-0">

        <div class="row w-100 d-flex justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4 d-flex flex-column bg-primary rounded-3 shadow p-4 align-items-center mb-5">
        <img src="../../../assets/icons/user.png" width="30%" height="auto" class="mt-4">
        <h1 class="fw-bold text-white">Logowanie</h1>
        <form #form="ngForm" (ngSubmit)="onSubmit(form.valid)">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="searchInput" placeholder="Adres e-mail"
            [(ngModel)]="loginRequest.email" #email="ngModel" required>
            <div class="error-container">
            <span *ngIf="email.errors?.['required'] && this.submitted" class="validation-error">
                Pole jest wymagane
            </span>
        </div>


            <label for="password" class="form-label">Hasło</label>
            <input type="password" name="password" id="password" class="searchInput" placeholder="Hasło"
            [(ngModel)]="loginRequest.password" #password="ngModel" required >
            <div class="error-container">
            <span *ngIf="password.errors?.['required'] && this.submitted" class="validation-error">
                Pole jest wymagane
            </span>
        </div>

            <div *ngIf="this.credentialsIncorrect && this.submitted" class="validation-error text-center">
                Dane logowanie są niepoprawne
            </div>

            <button class="bg-button p-2 text-lg text-white fs-4 my-3 rounded-3 fw-bold">Zaloguj się</button>


        </form>
        <div class="fs-5 text-center mt-2 mb-2 mb-sm-0">
            <span class="text-white">Nie masz konta? <br class="d-sm-none"></span>
            <a routerLink="/register" class="fw-bold text-white">Zarejestruj się</a>
        </div>
    </div>
</div>
</div>


    