.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: center;

}


.password-container{
    padding-top: 30px;
    width: 420px;
    height: 460px;
    background: #0F1A50;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.password-text{
    font-size: 40px;
    font-weight: bold;
}

span{ 
    color: white;
    font-weight: bold;
    text-align: center;
}

input{
    width: 85%;
    height: 50px;
    font-size: 20px;
    border-radius: 5px 5px 5px 5px;
}

button{
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    width: 250px;
    height: 50px;
    background-color: #3244A0;
    border-radius: 10px 10px 10px 10px;
}

.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
}