<div class="container">
    <a (click)="back()">< Powrót</a>
        <div class="top-container">
              <div class="exercise-name">
                <span class="span-bold name-text">{{exerciseData.name}}</span>
              </div>
          </div>
          <div class="bottom-container">
            <div class="bottom-left-container">
              <span class="header-text">Sposób wykonania:</span>
              <span class="bio-text span-center">{{exerciseData.exerciseSteps}}</span>
            </div>
            
            <div class="bottom-right-container">

                <div class="bottom-right-details-container">
                    <span class="header-text">Opis ćwiczenia:<br></span>
                    <span class="bio-text span-center">{{exerciseData.details}}</span>
                </div>

                <div class="bottom-right-image-container">
                 <img class="exercise-image" src="../../../../assets/icons/pompki.jpg">
                </div>
            </div>
          </div>
</div>