<div class="col-12 admin-menu">
    <a routerLink="/admin/gym/list/Active" routerLinkActive="active" class="admin-link">Aktywne siłownie</a>
    <a routerLink="/admin/gym/list/Pending" routerLinkActive="active" class="admin-link">Nowe siłownie</a>
    <a routerLink="/admin/exercise/list" routerLinkActive="active" class="admin-link">Ćwiczenia</a>
    <a routerLink="/admin/certificatedUsers/list/Accepted" routerLinkActive="active" class="admin-link">Certyfikowani użytkownicy</a>
    <a routerLink="/admin/certificatedUsers/list/Pending" routerLinkActive="active" class="admin-link">Nowe certyfikaty</a>
</div>

